<template>
  <div class="radio-element body-shape-element">
    <label :for="id" >
      <input
        :id="id"
        v-model="picked"
        :name="type"
        :value="id"
        type="radio"
        @change="addFront">
      <div class="radio-image__wrapper">
        <p class="body-shape-element__name">{{ name }}</p>
        <img
          :src="img"
          class="radio-element__image">
      </div>
    </label>

  </div>

</template>
<script>
    import calculator from "../../../calc-mixin.js";
    export default {
        mixins: [calculator],
        props: [
            'index',
            'name',
            'id',
            'type',
            'img',
        ],
        data: function() {
            return {
                picked: ''
            }
        },
        methods: {
            addFront() {
                this.$store.commit('updateBodyShape', this.picked);
                this.setMeasures();
            },
        }
    }
</script>

<style lang="sass" scoped>
    @import "../../../../sass/common/_mixins.sass"

    .body-shape-element
        width: calc(50% - 10px)
        &:nth-child(even)
            margin-left: rem(20)
    .radio-image__wrapper

        padding: rem(16)
        display: flex
        flex-direction: column

</style>

