<template>
  <div class="option body-shape-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <div class="option-section height-section">
        <h3 class="height-header option-body__header">1. How tall are you ?</h3>
        <div class="height-input__wrapper">
          <label
            for="height"
            class="header-input__label">
            Your Height: <input
              v-model="height"
              :class="{ 'not-valid': !heightSet }"
              type="number"
              step="1"
              name="height"
              class="height-input"> cm
          </label>
        </div>
      </div>

      <h3 class="height-header option-body__header">2. Which best describes your midsection ?</h3>
      <div class="body-shape__types">

        <body-shape-element
          v-for="(type, index) in types"
          :id="type.id"
          :key="index"
          :name="type.name"
          :img="type.img"
          :type="'body-shape'"
          :index="index"/>
      </div>
    </div>
  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import BodyShapeElement from "./BodyShapeElement.vue"
    import calculator from "../../../calc-mixin.js";
    import { mapGetters } from 'vuex';
    import { store }  from "../store/store"
    export default {
        components: {
            BodyShapeElement,
            formHeader
        },
        mixins: [calculator],
        data: function() {
            return {
                labels: {
                    name: 'Size - Body Shape'
                },
                types: [
                    {
                        id: 1,
                        name: "No belly at all",
                        img: window.img_url + "no-belly.png"
                    },
                    {
                        id: 2,
                        name: "Pretty fit",
                        img: window.img_url + "pretty-fit.png"
                    },
                    {
                        id: 3,
                        name: "Medium belly",
                        img: window.img_url + "medium-belly.png"
                    },
                    {
                        id: 4,
                        name: "Significant belly",
                        img: window.img_url + "significant-belly.png"
                    }
                ],
                heightSet: true
            }
        },
        computed: {
            height: {
                get () {
                    return this.$store.state.parts.size.height
                },
                set (value) {
                    this.$store.commit('updateHeight', value);
                    this.heightSet = true;
                    this.setMeasures();
                }
            },
            canMove() {
                return store.state.guards.size.setHeight && store.state.guards.size.setBody
            }
        },
        beforeRouteEnter(to, from, next) {
            if (store.state.guards.size.setNeck) {
                next()
            } else {
                next(false)
            }
        },
        beforeRouteLeave (to, from, next) {
            if (this.canMove) {
                next()
            } else {
                next(false)
            }
        }
    }
</script>

<style lang="scss">
    @import "../../../../sass/common/_mixins.sass";
    .height-input__wrapper {
        background-color: #f5f5f5;
        padding: rem(10) rem(15);
        display: inline-block;
        margin-bottom: rem(55);
    }

    .header-input__label {
        font-size: rem(12);
        color: #747474;
        font-style: italic;
        font-weight: 500;
    }

    .height-input {
      margin: 0;
      margin-left: rem(15);
      padding: rem(6);
      max-width: rem(40);
    }

    .height-input::-webkit-inner-spin-button,
    .height-input::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
        -moz-appearance:textfield !important;
    }

    .body-shape__types {
        display: flex;
        flex-wrap: wrap;
    }

    .not-valid {
        border: 1px solid palevioletred
    }

</style>

