<template>
  <div class="option cuffs-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <div class="front-type__types">
        <cuff-element
          v-for="(type, index) in types"
          :key="index"
          :name="type.name"
          :img="type.img"
          :type="'cuffs'"
          :index="index"/>
      </div>
    </div>
  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import CuffElement from "./CuffElement.vue"

    export default {
        components: {
            CuffElement,
            formHeader
        },
        data: function() {
            return {
                labels: {
                    name: 'Cuffs'
                },
                types: [
                    {
                        name: "Single Cuff",
                        img: window.img_url + "single-cuff.png"
                    },
                    {
                        name: "Double Cuff",
                        img: window.img_url + "double-cuff.png"
                    }
                ],
                canMove: true
            }
        }
    }
</script>
