<template>
  <div>
    <h3 class="discount__title">Choose Currenncy</h3>
    <select
      v-model="currentCurrency"
      name="my-sizes"
      class="sizes__list">
      <option
        v-for="(currency, index) in currencies"
        :key="index"
        :value="currency">
        {{ currency }}</option>
    </select>
    <button
      class="switch-currency"
      @click="switchCurrency">Update Currency</button>
  </div>
</template>
<script>
    import axios from "axios"
    export default {
      data() {
        return {
          currencies: builder_object.currencies.split(','),
          currentCurrency: builder_object.currencies.split(',')[0]
        };
      },
      methods: {
        switchCurrency() {
          var params = new FormData();
                params.append("action", 'wcml_switch_currency');
                params.append("currency", this.currentCurrency);
                params.append("force_switch", 0);
                axios
                  .post(builder_object.ajax_url, params)
                  .then((response) => {
                    console.log(response);
                      location.reload();
                    })
                  .catch((error) => {
                    console.log(error);
                  });
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../../../sass/common/_mixins.sass";

  select {
    border: 1px solid #1e1e1e;
    color: #1e1e1e;
    padding: 0.75rem 3rem 0.75rem 1rem;
    font-size: 1rem;
    width: 100%;
    line-height: 1rem;
    min-width: 300px;
    margin-bottom: 20px;
  }



  .discount__title {
    color: #1e1e1e;
    font-weight: 700;
    margin-top: 0;
  }

  .discount__block {
    padding: rem(10);
    background-color: #f7f7f7;

    p {
      margin: 0;
      line-height: 1.5
    }
  }

  .switch-currency {
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #1e1e1e;
    color: #fff;
    line-height: 1;
    padding: 12px;
  }

</style>


