<template>
  <div>
    <h4
      class="discount__title">Discount Offers</h4>
    <div class="discount__block">
      <p class="discount__2-4">Quantity 2 - 4 | Discount 10%</p>
      <p class="discount__5">Quantity 5+ | Discount 15%</p>
    </div>
    <p class="discount__text">Higher quantity orders help us to optimize our pattern construction plus lower our shipping costs and pass those savings on to you</p>
  </div>
</template>
<script>
    export default {

    }
</script>

<style lang="scss" scoped>
  @import "../../../../sass/common/_mixins.sass";



    .discount__title {
      color: #1e1e1e;
      font-weight: 700;
      margin-top: 0;
    }

    .discount__block {
      padding: rem(10);
      background-color: #f7f7f7;

      p {
        margin: 0;
        line-height: 1.5
      }
    }

</style>


