<template>
  <div
    class="builder-popup__bg"
    @click.self="fireRemove">
    <div class="builder-popup">
      <div class="edit-form">
        <div class="form-header">{{ size }}</div>
        <measurements-form :measures.sync="newMeasures"/>
        <div class="form-footer">
          <button
            class="undo-changes"
            @click="undoSize">Undo Changes</button>
          <button
            class="save-changes"
            @click="fireRemove">Save Changes</button>
        </div>
      </div>
      <div class="shirt-image">
        <img
          :src="shirt"
          alt="">
      </div>

    </div>
  </div>
</template>
<script>
    import MeasurementsForm from "./MeasurementsForm.vue"
    import { mapGetters } from 'vuex'
    export default {
        components: {
            MeasurementsForm
        },
        props: [
            'size',
            'measures'
        ],
        data() {
            return {
                shirt: window.img_url + 'fitted.png',
                activeMeasure: 'inches'
            }
        },
        defaultSize: null,
        computed: {
            ...mapGetters({
                currentSize: 'getSelectedSize'
            }),
            newMeasures:{
                get: function () {
                    return this.measures
                },
                set: function(newValue){
                    this.$emit('update:measures', newValue);
                    this.$store.commit('editSize', newValue)
                }
            },

        },
        created() {
            this.$options.defaultSize = JSON.parse(JSON.stringify(this.measures))
        },
        methods: {
            fireRemove: function() {
                Event.fire('editRemove')
            },
            undoSize() {
                this.$emit('update:measures', this.$options.defaultSize);
                Event.fire('size-undo', this.$options.defaultSize);
            }

        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/common/_mixins.sass";
    .builder-popup {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: rem(35);
        width: 100%;
        max-width: rem(1190);
    }

    .edit-form {
        width: 50%;

        .measurements__form {
            max-width: 100%
        }
    }

    .shirt-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .form-header,
    .form-footer {
        padding: rem(15);
        background-color: #d5d5d5;
        color: #1e1e1e;
        font-size: rem(13)
    }

    .form-footer {
        text-align: right;
    }

    .save-changes {
        background-color: #565656;
        border: none;
        color: #fff;
        padding: rem(10) rem(20);
        line-height: 1;
        margin-left: rem(15);
        transition: background-color .3s ease-in-out;
        font-size: rem(12);
        font-weight: 500;

        &:hover,
        &:active {
            background-color: #1e1e1e
        }
    }

    .undo-changes {
            border: 0;
            background-color: transparent
        }


</style>

