<template>
  <div class="radio-element fabric-element">
    <label :for="colorID" >
      <input
        :id="colorID"
        v-model="picked"
        :value="colorID"
        type="radio"
        name="color"
        @change="addFabric">
      <div class="radio-image__wrapper">
        <img
          :src="image"
          class="radio-element__image">
      </div>
    </label>
    <p class="fabric-element__name">{{ name }}</p>
    <p class="fabric-element__meta">{{ meta }}</p>
  </div>

</template>
<script>
    export default {
        props: [
            'index',
            'image',
            'id',
            'type',
            'name',
            'meta'
        ],
        data: function() {
            return {
              colorID: this.id,
              picked: 1
            }
        },
        methods: {
            addFabric(e) {
                this.$store.commit('updateColor', {id: this.id, type: this.type, name:this.name});
                Event.fire('colorChanged');
            },
        }
    }
</script>

<style>

</style>

