<template>
  <div class="option fabric-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <div class="category-bar capsule-colors">
        PREMIUM RANGE {{ premiumRangePrice }} <button
          class="discount-icon"
          @click="showDiscount">?</button>
      </div>
      <div class="option-type color-type">
        Classics
      </div>
      <div class="color-type__types">
        <fabric-element
          v-for="color in fabrics.colors"
          :id="color.id"
          :key="color.id"
          :type="'single'"
          :image="color.img"
          :name="color.name"
          :meta="color.meta"/>
      </div>

      <div class="category-bar capsule-patterns">
        PATTERN RANGE {{ patternRangePrice }} <button
          class="discount-icon"
          @click="showDiscount">?</button>
      </div>
      <div class="texture-type__types">
        <fabric-element
          v-for="texture in fabrics.textures"
          :id="texture.id"
          :key="texture.id"
          :type="'texture'"
          :image="texture.img"
          :name="texture.name"
          :meta="texture.meta"/>
      </div>
    </div>
    <popup v-if="discountPopup">
      <discount/>
    </popup>
  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import fabricElement from "./FabricElement.vue"
    import Popup from "./Popup.vue"
    import Discount from "./Discount.vue"
    import { mapGetters } from 'vuex'
    export default {
    components: {
        formHeader,
        fabricElement,
        Popup,
        Discount
    },
    data: function() {
        return {
            labels: {
                name: 'Fabric',
            },
            patternRangePrice: builder_object.pattern_range_price_text || "SGD 109.00 - SGD 129.00",
            premiumRangePrice: builder_object.premium_range_price_text || "SGD 126.00 - SGD 149.00",

            discountPopup: false,
            canMove: true
        }
    },
    computed: {
        ...mapGetters({
            fabrics: 'getFabrics'
        })
    },
    created() {
        Event.listen("popup-remove", () => {
            this.discountPopup = false;
        });
    },
    methods: {
        showDiscount() {
            this.discountPopup = true;
        },
    },
    beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$store.state.quiz = false;
            })
        },
}
</script>

