<template>
  <div class="option neck-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <p class="option-desc">Which is your preferred fit ?</p>
      <div class="fit-measure-types">
        <button
          :class="{ 'fit-type--selected': isActive('fit') }"
          class="fit-type"
          @click.prevent="fitted()">Fitted</button>
        <button
          :class="{ 'fit-type--selected': isActive('slim') }"
          class="fit-type"
          @click.prevent="slim()">Slim</button>
      </div>
      <div class="fit-image-wrapper">
        <img
          :src="selected.img"
          alt=""
          class="fit-image">
      </div>
    </div>

  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import { store }  from "../store/store"
    import calculator from "../../../calc-mixin.js";

    export default {
        components: {
            formHeader,
        },
        mixins: [calculator],
        data() {
            return {
                labels: {
                    name: 'Size - Fit',
                },
                types: {
                    slim: {
                        img: window.img_url + "slim.png",
                        name: "slim"
                    },
                    fit: {
                        img: window.img_url + "fitted.png",
                        name: "fit"
                    },
                },
                selected: ""
            }
        },
        computed: {
            canMove() {
                return true
            }
        },
        mounted() {
            this.fitted();
        },
        methods: {
            isActive: function (menuItem) {
                return this.activeItem === menuItem
            },
            setActive: function (menuItem) {
                this.activeItem = menuItem
            },
            slim() {
                this.selected = this.types.slim;
                this.$store.commit('updateFit', this.selected.name);
                this.setActive('slim');
                this.setMeasures();
            },
            fitted() {
                this.selected = this.types.fit;
                this.$store.commit('updateFit', this.selected.name);
                this.setActive('fit');
                this.setMeasures();
            }
        },
        beforeRouteEnter(to, from, next) {
            if (store.state.guards.size.setHeight && store.state.guards.size.setBody) {
                next()
            } else {
                next(false)
            }
        }
    }
</script>
<style lang="sass" scoped>
    .option-body
        display: flex
        flex-direction: column
    .option-desc
        font-size: 15px
        padding-top: 9.27%
        font-weight: bold
        margin-bottom: 11.3%
    .fit-measure-types
        margin: 0 auto
        width: 130px
        display: flex
        height: 30px
        margin-bottom: 8%
    .fit-type
        width: 50%
        border: none
        background-color: #dedede
        color: #919191
        font-size: 12px
    .fit-type--selected
        background-color: #ececec
        color: #1e1e1e
    .fit-image-wrapper
        width: auto
        margin: 0 auto
</style>

