<template>
  <div class="radio-element fit-element">
    <p class="fit-element__name">{{ name }}</p>
    <label :for="id" >
      <input
        :id="id"
        v-model="picked"
        :name="type"
        :value="id"
        type="radio"
        @change="addFront">
      <div class="radio-image__wrapper">
        <img
          :src="img"
          class="radio-element__image">
      </div>
    </label>

  </div>

</template>
<script>
    export default {
        props: [
            'index',
            'name',
            'type',
            'img',
        ],
        data: function() {
            return {
                id: this.index,
                picked: ''
            }
        },
        methods: {
            addFront(e) {
                if (this.type === "body-shape") {
                    Event.fire('body-shape', this.picked)
                }

            },
        }
    }
</script>

<style>

</style>

