<template>
  <div class="radio-element front-element">
    <label :for="id" >
      <input
        :id="id"
        v-model="picked"
        :name="type"
        :value="name"
        type="radio"
        @change="addFront">
      <div class="radio-image__wrapper">
        <p class="front-element__name">{{ name }}</p>
        <img
          :src="img"
          class="radio-element__image">
      </div>
    </label>

  </div>

</template>
<script>
    export default {
        props: [
            'index',
            'name',
            'type',
            'img',
        ],
        data: function() {
            return {
                id: this.type + '_' + this.index,
                picked: 'No Placket'
            }
        },
        created() {
            this.addFront();
        },
        methods: {
            addFront() {
                this.$store.commit('updateFront', this.picked)
            },
        }
    }
</script>


