<template>
  <div class="option front-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <div class="front-type__types">
        <front-element
          v-for="(type, index) in types"
          :key="index"
          :name="type.name"
          :img="type.img"
          :type="'front'"
          :index="index"/>
      </div>
    </div>
  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import FrontElement from "./FrontElement.vue"

    export default {
        components: {
            FrontElement,
            formHeader
        },
        data: function() {
            return {
                labels: {
                    name: 'Front'
                },
                types: [
                    {
                        name: "No Placket",
                        img: window.img_url + "no-placket.png"
                    },
                    {
                        name: "With Placket",
                        img: window.img_url + "placket.png"
                    }
                ],
                canMove: true
            }
        }
    }
</script>
