<template>
  <div
    class="builder-popup__bg"
    @click.self="fireRemove">
    <div
      v-if="login_block"
      class="builder-popup builder-popup--login">
      <h2 class="builder-popup__header">Login</h2>
      <ul class="errors-list">
        <li
          v-for="(error, index) in errors"
          :key="index"
          class="builder-popup__error">{{ error }}
        </li>
      </ul>
      <form class="builder-popup__form">
        <input
          v-model="login_email"
          type="email"
          placeholder="Email"
          name="email">
        <input
          v-model="login_password"
          type="password"
          name="password"
          placeholder="Password">

        <button
          :disabled="isLoading"
          type="submit"
          class="builder-popup__submit"
          @click.prevent="login">Login</button>
        <div
          v-if="isLoading"
          type="submit"
          class=""><svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid"
            class="lds-eclipse"
            style="background: none;"><path
              stroke="none"
              d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50"
              fill="#a3a3a3"
              transform="rotate(83.5934 50 51)"><animateTransform
                attributeName="transform"
                type="rotate"
                calcMode="linear"
                values="0 50 51;360 50 51"
                keyTimes="0;1"
                dur="0.5s"
                begin="0s"
                repeatCount="indefinite"/></path></svg></div>
        <a
          class="builder-login__reset"
          @click.prevent="goToReset">Reset Password</a>
      </form>

      <p class="builder-login__nav-text">Don't have an account? <a
        class="builder-login__nav-link"
        @click.prevent="goToRegister">Create Account</a></p>

        <!-- <div class="magic-link__wrapper">
        <p class="size-option__buttons-divider">or</p>
        <button class="button magic-link__button">Email Me a Magic Link</button>
        <p class="magic-link__text">We can email you a magic link so you can sign in
          without having to type your password</p>
      </div> -->
    </div>
    <div
      v-if="reset_block"
      class="builder-popup builder-popup--reset">
      <h2 class="builder-popup__header">Reset Password</h2>
      <ul class="errors-list">
        <li
          v-for="(error, index) in errors"
          :key="index"
          class="builder-popup__error">{{ error }}
        </li>
      </ul>
      <form class="builder-popup__form">
        <input
          v-model="reset_email"
          type="email"
          placeholder="Email"
          name="email">
        <button
          :disabled="isLoading"
          type="submit"
          class="builder-popup__submit"
          @click.prevent="reset">Submit</button>
        <div
          v-if="isLoading"
          type="submit"
          class=""><svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid"
            class="lds-eclipse"
            style="background: none;"><path
              stroke="none"
              d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50"
              fill="#a3a3a3"
              transform="rotate(83.5934 50 51)"><animateTransform
                attributeName="transform"
                type="rotate"
                calcMode="linear"
                values="0 50 51;360 50 51"
                keyTimes="0;1"
                dur="0.5s"
                begin="0s"
                repeatCount="indefinite"/></path></svg></div>
      </form>

      <p class="builder-login__nav-text">Do you have an account? <a
        class="builder-login__nav-link"
        @click.prevent="goToLogin">Login</a></p>

        <!-- <div class="magic-link__wrapper">
            <p class="size-option__buttons-divider">or</p>
            <button class="button magic-link__button">Email Me a Magic Link</button>
            <p class="magic-link__text">We can email you a magic link so you can sign in
              without having to type your password</p>
          </div> -->
    </div>
    <div
      v-if="register_block"
      class="builder-popup builder-popup--register">
      <h2 class="builder-popup__header">Registration</h2>
      <ul class="errors-list">
        <li
          v-for="(error, index) in errors"
          :key="index"
          class="builder-popup__error">{{ error }}
        </li>
      </ul>
      <form class="builder-popup__form">
        <input
          v-model="reg_username"
          type="text"
          placeholder="Username"
          name="username">
        <input
          v-model="reg_first_name"
          type="text"
          placeholder="First name"
          name="first-name">
        <input
          v-model="reg_last_name"
          type="text"
          placeholder="Last name"
          name="last-name">
        <input
          v-model="reg_password_1"
          type="password"
          placeholder="Password"
          name="password">
        <input
          v-model="reg_password_2"
          type="password"
          placeholder="Repeat Password"
          name="password-repeat">
        <input
          v-model="reg_email"
          type="email"
          placeholder="Email"
          name="email">
        <button
          :disabled="isLoading"
          type="submit"
          class="builder-popup__submit"
          @click.prevent="register">Register</button>
        <div
          v-if="isLoading"
          type="submit"
          class=""><svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid"
            class="lds-eclipse"
            style="background: none;"><path
              stroke="none"
              d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50"
              fill="#a3a3a3"
              transform="rotate(83.5934 50 51)"><animateTransform
                attributeName="transform"
                type="rotate"
                calcMode="linear"
                values="0 50 51;360 50 51"
                keyTimes="0;1"
                dur="0.5s"
                begin="0s"
                repeatCount="indefinite"/></path></svg></div>
      </form>

      <p class="builder-login__nav-text">Do you have an account? <a
        class="builder-login__nav-link"
        @click.prevent="goToLogin">Login</a></p>

        <!-- <div class="magic-link__wrapper">
            <p class="size-option__buttons-divider">or</p>
            <button class="button magic-link__button">Email Me a Magic Link</button>
            <p class="magic-link__text">We can email you a magic link so you can sign in
              without having to type your password</p>
          </div> -->
    </div>
  </div>
</template>
<script>
    import axios from "axios"
    export default {
        props: {
              stay: {
                type: Boolean,
                default: true
              }
        },
        data() {
            return {
                isLoading: false,
                login_email: null,
                login_password: null,
                reset_email: null,
                reg_username: null,
                reg_first_name: null,
                reg_last_name: null,
                reg_password_1: null,
                reg_password_2: null,
                reg_email: null,
                errors: [],
                login_block: true,
                register_block: false,
                reset_block: false
          }
        },
        methods: {
            fireRemove() {
                Event.fire('loginRemove')
            },

            validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },

            goToLogin() {
              this.login_block = true;
              this.register_block = false;
              this.reset_block = false;
            },

            goToReset() {
              this.login_block = false;
              this.register_block = false;
              this.reset_block = true;
            },

            goToRegister() {
              this.login_block = false;
              this.register_block = true;
              this.reset_block = false;
            },

            checkForm() {
              this.errors = [];

              if (this.reg_password_1 !== this.reg_password_2) {
                this.errors.push('Password fields need to match');
              }
              if (!this.validateEmail(this.reg_email)) {
                this.errors.push('Email is not valid');
              }
            },

            switchLoginButton() {
                $('.user__profile-link')
                .off("click")
                .removeClass("login_button")
                .attr("href", main_ajax_object.profile_url);
            },

            login() {
              // this.error.status = false;
                var params = new FormData();
                params.append("action", builder_object.login.action);
                params.append("nonce", builder_object.login.nonce);
                params.append("email", this.login_email);
                params.append("password", this.login_password);
                this.isLoading = true;
                axios
                  .post(builder_object.ajax_url, params)
                  .then((response) => {
                    this.isLoading = false;
                    const res = response.data;

                    if (res.success) {
                      const sizes = res.data.sizes;
                      this.$store.commit('updateLogged', true);
                      this.fireRemove();
                      this.switchLoginButton();

                      if (sizes !== null) {
                        this.$store.commit('updateSizes', sizes);
                        this.$store.commit('changeSize', sizes[0]);
                        this.$store.commit('changeSizeName', sizes[0].name);
                      }
                      if (!this.stay) {
                        this.$router.push( {name: 'sizes'} );
                      }

                    } else {
                      this.errors.push(res.data)
                    }

                  })
                  .catch((error) => {
                    console.log(error);
                  });
            },
            register() {
                var params = new FormData();
                params.append("action", builder_object.register.action);
                params.append("nonce", builder_object.register.nonce);
                params.append("username", this.reg_username);
                params.append("first-name", this.reg_first_name);
                params.append("last-name", this.reg_last_name);
                params.append("email", this.reg_email);
                params.append("password", this.reg_password_1);
                params.append("password-repeat", this.reg_password_2);

                this.isLoading = true;

                this.checkForm();
                if (this.errors.length > 0) {
                  return false;
                }

                axios
                  .post(builder_object.ajax_url, params)
                  .then(response => {
                    this.isLoading = false;
                    const res = response.data;
                    if (res.success) {
                      this.$store.commit('updateLogged', true);
                      this.switchLoginButton();
                      this.fireRemove();
                      this.$router.push( '/sizes' );
                    } else {
                      this.errors.push(res.data)
                    }
                  })
                  .catch(function(error) {
                    console.log(error);
                  });
            },
            reset() {
                var params = new FormData();
                params.append("action", builder_object.reset.action);
                params.append("nonce", builder_object.reset.nonce);
                params.append("email", this.reset_email);

                this.isLoading = true;

                axios
                  .post(builder_object.ajax_url, params)
                  .then(response => {
                    const res = response.data;
                    this.isLoading = false;
                    if (res.success) {
                      this.goToLogin();
                    } else {
                      this.errors.push(res.data)
                    }

                  })
                  .catch(function(error) {
                    console.log(error);
                  });
            }
        },
        beforeRouteEnter(to, from, next) {
            if (store.state.quiz) {
                next()
            } else {
                next(false)
            }
        }
    }
</script>

<style lang="scss" scoped>

.builder-popup--register, .builder-popup--reset {
    display: initial;
}

</style>


