<template>
  <div class="measurements__form">
    <div class="measure-types">
      <button
        :class="{ 'measure-type--active': isActiveMeasure('cm') }"
        class="measure-type"
        @click="toCM()">cm</button>
      <button
        :class="{ 'measure-type--active': isActiveMeasure('inches') }"
        class="measure-type"
        @click="toINCH()">inches</button>
    </div>
    <div class="measurements">
      <h3 class="measurement__cat">Body</h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.body"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__input">
            <button
              class="measurement-button reduce"
              @click="reduceValue(el.value, 0.1, index, 'body')">-</button>
            <input
              v-model.number="el.value"
              type="number"
              class="measure__value">
            <button
              class="measurement-button add"
              @click="addValue(el.value, 0.1, index, 'body')">+</button>
          </div>
        </li>
      </ul>

      <h3 class="measurement__cat">
        Neck
      </h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.neck"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__input">
            <button
              class="measurement-button reduce"
              @click="reduceValue(el.value, 0.1, index, 'neck')">-</button>
            <input
              v-model.number="el.value"
              type="number"
              class="measure__value">
            <button
              class="measurement-button add"
              @click="addValue(el.value, 0.1, index, 'neck')">+</button>
          </div>
        </li>
      </ul>

      <h3 class="measurement__cat">
        Sleeves
      </h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.sleeves"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__input">
            <button
              class="measurement-button reduce"
              @click="reduceValue(el.value, 0.1, index, 'sleeves')">-</button>
            <input
              v-model.number="el.value"
              type="number"
              class="measure__value">
            <button
              class="measurement-button add"
              @click="addValue(el.value, 0.1, index, 'sleeves')">+</button>
          </div>
        </li>
      </ul>

      <h3 class="measurement__cat">
        Shoulders
      </h3>
      <ul class="measurement__params">
        <li class="measurement__params__param">
          <div class="measure__name">Normal</div>
          <div class="measure__input">
            <input
              id="normal"
              v-model="currentMeasures.shoulders"
              type="radio"
              name="shoulders"
              value="shoulders-normal"
              class="measure__value">
            <label for="normal"/>
          </div>
        </li>
        <li class="measurement__params__param">
          <div class="measure__name">Sloping</div>
          <div class="measure__input">
            <input
              id="sloping"
              v-model="currentMeasures.shoulders"
              type="radio"
              name="shoulders"
              value="shoulders-sloping"
              class="measure__value">
            <label for="sloping"/>
          </div>
        </li>
        <li class="measurement__params__param">
          <div class="measure__name">Square</div>
          <div class="measure__input">
            <input
              id="square"
              v-model="currentMeasures.shoulders"
              type="radio"
              name="shoulders"
              value="shoulders-square"
              class="measure__value">
            <label for="square"/>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
    Number.prototype.round = function(places) {
      return +(Math.round(this + "e+" + places)  + "e-" + places);
    }
    import convertor from "../../../cm-inch-convertor.js"
    export default {
        mixins: [convertor],
        props: [
            'measures'
        ],
        data: function() {
        return {
            currentMeasures: '',
          }
        },
        computed: {
            shoulders() {
                return this.$store.getters.getShoulders
            }
        },
        mounted() {
          this.currentMeasures = this.clean_measures;
          Event.listen('size-undo', (size) => {
            this.toINCH();
            this.currentMeasures = size;
          })
        },
        methods: {
            addValue(value, step, index, type) {
                value = parseFloat((value + step).toFixed(1));
                this.currentMeasures[type][index].value = value;
                if (this.activeMeasure == 'inches') {
                  this.$emit('update:measures', this.currentMeasures);
                } else {
                  this.$emit('update:measures', this.inch_measures);
                }
            },
            reduceValue(value, step, index, type) {
                value = parseFloat((value - step).toFixed(1));
                this.currentMeasures[type][index].value = value;

                if (this.activeMeasure == 'inches') {
                  this.$emit('update:measures', this.currentMeasures);
                } else {
                  this.$emit('update:measures', this.inch_measures);
                }
            }
        }
    }
</script>
