<template>
  <div class="option size-measurements">
    <form-header :tab-name="labels.name"/>
    <div class="option-body">
      <div class="my-sizes">
        <select
          v-model="selectedSizeName"
          name="my-sizes"
          class="sizes__list"
          @change="switchSize(selectedSizeName)">
          <option
            v-for="(size, index) in sizes"
            :key="index"
            :value="size.name">
            {{ size.name }}
          </option>
        </select>
        <button
          class="button save-size"
          @click="pickSize">Pick size</button>
      </div>

      <div
        v-if="selectedSize !== ''"
        class="user-size">
        <div class="user-size__header">
          <div class="current_size">Size: {{ selectedSize.name }}</div>
          <div class="buttons-wrapper">
            <button
              class="button edit-size"
              @click="showNewSize">Create New Size</button>
            <button
              v-if="sizes.length > 0"
              class="button edit-size"
              @click="openEdit">Edit Size</button>
          </div>


        </div>
        <user-measures :measures.sync="selectedSize.measures"/>
      </div>
    </div>
    <edit-size
      v-if="edit_popup"
      :size="selectedSize.name"
      :measures.sync="selectedSize.measures"
    />
    <new-shirt-size
      v-if="newSizePopup"
      :measures="this.$store.state.default_measures"/>
  </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import formHeader from "../Header.vue"
    import UserMeasures from "./UserMeasures.vue"
    import EditSize from "./EditSize.vue"
    import NewShirtSize from "./NewShirtSize.vue"

    export default {
        components: {
            formHeader,
            UserMeasures,
            EditSize,
            NewShirtSize
        },
        data() {
            return {
                labels: {
                    name: 'YOUR SHIRT MEASUREMENTS',
                },
                edit_popup: false,
                newSizePopup: false,
                selectedSize: ""
            }
        },
        computed: {
            ...mapGetters({
                sizes: 'getSizes',
                currentSize: 'getSelectedSize'
            }),
            selectedSizeName: {
                get() {
                    return this.$store.state.selectedSizeName;
                },
                set (value) {
                    this.$store.commit('changeSizeName', value);
                }
            }
        },
        watch: {
            currentSize: function (val) {
                this.selectedSize = val
            },
            sizes: function (val) {
                if (this.$route.params.size) {
                    this.switchSize(this.$route.params.size);
                }
            },
        },
        mounted() {
            Event.listen('editRemove', () => {
              this.edit_popup = false;
            });
            Event.listen('sizeRemove', (sizeName) => {
              this.newSizePopup = false;
              this.selectedSizeName = sizeName;
            });

            Event.listen('resetSize', (size) => {
              this.edit_popup = false;
            });
        },
        methods: {
            openEdit: function() {this.edit_popup = true},
            showNewSize: function() {this.$store.commit('toggleQuiz'); this.$router.push("/size/neck")},
            pickSize: function() {
                this.$router.push("/");
            },
            switchSize: function(name) {
                this.$store.commit('changeSize', this.sizes.find(function (obj) {
                    return obj.name == name;
                }));
                this.selectedSizeName = name

                this.selectedSize = this.currentSize
            }
        },
        beforeRouteEnter (to, from, next) {
           next(vm => {
                if (vm.sizes.length > 0) {
                    vm.switchSize(vm.selectedSizeName)
                } else {
                    vm.$router.push({ name: "size" });
                }
            })
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/common/_mixins.sass";
    .my-sizes {
        display: flex;
        justify-content: space-between;
        padding: rem(40);
        background-color: #f5f5f5;
        margin-bottom: rem(50);
    }

    .sizes__list {
        border: 1px solid #222;
        font-size: rem(13);
        padding: rem(10) rem(13);
        width: calc(50% - 20px);

        option {
            padding: rem(40);
        }
    }

    .save-size {
        font-size: rem(13);
        transition: background-color .3s ease-in-out;
        &:hover,
        &:active {
            background-color: #fff
        }
    }

    .user-size__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d5d5d5;
        padding: rem(6) rem(6) rem(6) rem(30);

        .current_size {
            line-height: 1;
        }

        .edit-size {
            background-color: #efefef;
            font-size: rem(12);
            font-weight: 700;
            padding: rem(10) rem(17);
            transition: background-color .3s ease-in-out;
            margin-left: rem(6);

            &:hover,
            &:active {
                background-color: #fff
            }
        }
    }
</style>


