<template>
  <li class="radio-element neck-size-element">
    <label :for="id" >
      <input
        v-model="picked.number"
        :id="id"
        :name="type"
        :value="id"
        type="radio"
        @change="addNeck">
      <p class="neck-size__element">{{ number }}</p>
    </label>
  </li>

</template>
<script>
import measures from "../store/measureSheet";
import calculator from "../../../calc-mixin.js";

export default {
  mixins: [calculator],
  props: ["index", "type", "number", "measure"],
  data: function() {
    return {
      id: this.number,
      picked: {
        number: null,
        measure: this.measure
      }
    };
  },
  methods: {
    addNeck() {
      this.$store.commit("updateNeck", {
        number: this.picked.number,
        measure: this.picked.measure
      });
      this.setMeasures();
      this.$store.commit('updateCustomSleeves', null);
    }
  }
};
</script>

<style lang="scss" scoped>
.neck-size__element {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
