<template>
  <div class="option neck-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <p class="option-body__header option-desc">What is your neck size?</p>
      <div class="measure-types neck-measure-types">
        <a
          :class="{ 'measure-type--active': isActiveMeasure('inches') }"
          class="measure-type"
          @click.prevent="toINCH()">inches</a>
        <a
          :class="{ 'measure-type--active': isActiveMeasure('cm') }"
          class="measure-type"
          @click.prevent="toCM()">cm</a>
      </div>
      <p
        v-if="!$store.state.guards.size.setNeck"
        class="not-valid">Please choose one of the sizes</p>
      <ul class="radio-buttons__list neck-sizes">
        <neck-element
          v-for="(size, index) in sizes"
          :key="index"
          :type="'neck-size'"
          :measure="activeMeasure"
          :number="size"
          :index="index">
          >
        </neck-element>
      </ul>
    </div>

  </div>
</template>
<script>
    import { store }  from "../store/store"
    import formHeader from "../Header.vue"
    import neckElement from "./NeckElenent.vue"
    export default {
        components: {
            formHeader,
            neckElement
        },
        data: function() {
            return {
                labels: {
                    name: 'Size - Neck',
                },
                inches: [14, 14.5, 15, 15.5, 15.75, 16, 16.5, 17, 17.5, 17.75, 18, 18.5],
                sizes: [],
                activeMeasure: 'inches'
            }
        },

        computed: {
            cm: function () {
                return this.inches.map(x => Math.round(x / 0.39370));
            },
            canMove() {
                return store.state.guards.size.setNeck
            }
        },
        mounted: function() {
            this.sizes = this.inches;
        },

        methods: {
            toCM() {
                this.sizes = this.cm
                this.setActiveMeasure('cm');
            },
            toINCH() {
                this.sizes = this.inches;
                this.setActiveMeasure('inches');
            },
            isActiveMeasure: function (measure) {
                return this.activeMeasure === measure
            },
            setActiveMeasure: function (measure) {
                this.activeMeasure = measure
            }
        },
        // beforeRouteEnter(to, from, next) {
        //     if (store.state.quiz) {
        //         next()
        //     } else {
        //         next(false)
        //     }
        // }
    }
</script>



