<template>
  <div
    class="your-measurement builder-popup__bg builder-popup__overview"
    @click.self="fireRemove">
    <div class="builder-popup">
      <div class="your-measurement__header">
        <h2 class="popup__title">Your Shirt Measurement</h2>
        <p class="popup__text">Please see your shirt measurements below. Please <a
          href="#"
          @click.prevent="note = true">note</a></p>
        <popup v-if="note">
          <p
            class="measurements__details">We round each number to the closest ¼ inch/ 0.6 cm. We aim to produce shirts with your exact measurements, however, due to stitching and stretch of fabric, there may be a ¼ inch/ 0.6 cm tailor error margin. Please also note that TOR shirts are tailored to follow the back’s slight slope, we, therefore, deduct 1-1.5 inches from the back fabric (depending on size).</p>
        </popup>

      </div>
      <div class="edit-form">
        <measurements-form :measures.sync="newMeasures"/>
        <div class="shirt-image">
          <img
            :src="shirt"
            alt="">
          <div class="add-size">
            <h3 class="add-size__title">
              Name your Custom Size
            </h3>
            <p class="add-size__text">Name your personal custom size and press save when you are ready to go back to the
            customizer.</p>
            <form
              action=""
              class="add-size__form">
              <input
                v-model="sizeName"
                type="text"
                class="add_size__title-input"
                placeholder="Title">
              <div class="add-size__buttons-wrapper">
                <button
                  class="add_size__save-button"
                  @click.prevent="addSize">Save
                </button>
                <button
                  class="add_size__redo-button"
                  @click.prevent="reDo">Redo
                </button>
              </div>
            </form>
            <ul class="errors-list">
              <li
                v-for="(error, index) in errors"
                :key="index"
                class="builder-popup__error">{{ error }}
              </li>
            </ul>

            <p
              v-if="isLogged == 0"
              class="login-message">Already have an account? Login <a
                href="#"
                class="here-link"
                @click="showLogin">here</a> to attach measurements to your account. </p>
          </div>
        </div>
      </div>

    </div>
    <login-popup v-if="loginPopup"/>
  </div>
</template>
<script>
    import MeasurementsForm from "./MeasurementsForm.vue"
    import { mapGetters } from 'vuex'
    import loginPopup from "./Login.vue"
    import Popup from "./Popup.vue"
    import axios from "axios"
    export default {
        components: {
            MeasurementsForm,
            loginPopup,
            Popup
        },
        props: [
            'size',
            'measures'
        ],
        data() {
            return {
                shirt: window.img_url + 'fitted.png',
                activeMeasure: 'inches',
                sizeName: '',
                note: false,
                errors: [],
                loginPopup: false
            }
        },
        computed: {
            ...mapGetters({
                parts: 'getParts',
                isLogged: 'getLogStatus'
            }),
            newMeasures:{
                get: function () {
                    return this.measures
                },
                set: function(newValue){
                    this.$emit('update:measures', newValue);
                }
            },
        },
        created() {
            Event.listen("popup-remove", () => {
                this.note = false;
            });
            Event.listen('loginRemove', () => {
              this.loginPopup = false;
            })
        },
        methods: {
            fireRemove: function() {
                Event.fire('sizeRemove', this.sizeName)
            },
            addSize: function() {
                this.errors = [];
                //console.log({name: this.sizeName, measures: JSON.parse(JSON.stringify(this.measures)), parts: this.parts});

                if (this.sizeName.length > 0 && this.errors.length === 0) {
                    this.$store.dispatch('addSize', {name: this.sizeName, measures: JSON.parse(JSON.stringify(this.newMeasures)), parts: this.parts});
                    this.$store.commit('changeSizeName', this.sizeName);
                    this.$store.commit('changeSize', {name: this.sizeName, measures: JSON.parse(JSON.stringify(this.newMeasures)), parts: this.parts});
                    this.fireRemove();
                    this.$router.push("/");
                } else {
                    this.errors.push('A name for the saved size is needed');
                }
            },
            reDo: function() {
                this.$store.commit('toggleQuiz'); this.$router.push("/size/neck")
            },
            showLogin: function() {
              this.loginPopup = true;
          },
        }
      }
</script>

<style lang="scss" scoped>
  @import "../../../../sass/common/_mixins.sass";

  .builder-popup {
    margin: rem(15) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(25) rem(50);
    /*padding-top: rem(10);*/
    width: calc(100% - 80px);
    max-width: rem(1190);
    /*min-height: calc(100% - 50px);*/

  }

  .your-measurement__header {
    margin-bottom: rem(20);
    position: relative;
  }

  .popup__title {
    margin-top: 0;
    margin-bottom: 15px;
    color: #1e1e1e;
    font-size: rem(21);
    letter-spacing: -0.3px;
    font-weight: 700;
  }

  .popup__text {
    margin-top: 0;
    margin-bottom: 15px;
    color: #808080;
    font-size: rem(14);
    letter-spacing: 0.9px;

    a {
      text-decoration: underline;
    }
  }

  .edit-form {
    display: flex;
    justify-content: space-between;
  }

  .shirt-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    img {
      max-height: rem(400)
    }
  }

  .form-header,
  .form-footer {
    padding: rem(15);
    background-color: #d5d5d5;
    color: #1e1e1e;
    font-size: rem(13)
  }

  .form-footer {
    text-align: right;
  }

  .save-changes {
    background-color: #565656;
    border: none;
    color: #fff;
    padding: rem(10) rem(20);
    line-height: 1;
    margin-left: rem(15);
    transition: background-color .3s ease-in-out;
    font-size: rem(12);
    font-weight: 500;

    &:hover,
    &:active {
      background-color: #1e1e1e
    }
  }

  .undo-changes {
    border: 0;
    background-color: transparent
  }

  .edit-form {
    margin-bottom: rem(15)
  }

  .add-size {
    padding-left: 20px;
    text-align: left;
    @media only screen and (max-width: 920px) {
      padding-left: 0;
      margin-top: 2.5rem
    }
  }

  .add-size__title {
    color: #1e1e1e;
    font-size: rem(16);
    letter-spacing: 1.2px;
    margin-top: 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #1e1e1e;
    text-transform: capitalize;
  }

  .add-size__text {
    color: #5b5b5b;
    font-size: rem(13);
    letter-spacing: 0.8px;
    margin-bottom: rem(10);
    margin-top: 0;
  }

  .add-size__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(12);
  }

  .add_size__title-input {
    margin-bottom: rem(8);
    width: 100%;
    max-width: rem(320);
    padding: 5px 10px;
  }

  .add_size__save-button {
    border: none;
    background-color: #dadada;
    color: #010101;
    font-size: rem(12);
    width: rem(93);
    height: rem(35);
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
      background-color: #cdcdcd;
    }
  }

  .add_size__redo-button {
    background-color: #fff;
    color: #010101;
    border: 1px solid #010101;
    font-size: rem(12);
    width: rem(93);
    height: rem(35);
    margin-left: rem(20);
    transition: all .3s ease-in-out;

    &:hover,
    &:active {
      background-color: #010101;
      color: #fff;
      border: none
    }
  }

  .login-message {
    margin-top: 0;
    font-size: rem(12);
    color: #9a9999;
    border-top: 1px solid #e3e3e3;
    padding-top: rem(8);
  }

  .builder__small-popup {
    top: 60px;
    right: 50%;
    transform: translateX(-64%);
    z-index: 1;
    width: 90vw;

  }

  .add_size__title-input {
    display: flex;
  }


</style>

