<template>
  <div
    class="builder__small-popup">
    <span
      class="close-popup"
      @click.self="fireRemove">✕</span>
    <slot/>
  </div>
</template>
<script>
    export default {
        methods: {
            fireRemove: function() {
                Event.fire('popup-remove')
            }
        }
    }
</script>

<style lang="scss">
  @import "../../../../sass/common/_mixins.sass";

  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .builder__small-popup {
    position: absolute;
    top: 33vh;
    left: 65%;
    text-align: center;
    padding: rem(30);
    max-width: rem(500);
    border: 3px solid #cdcdcd;
    background-color: #fff;
    color: #a6a6a6;
    font-size: rem(14);
  }

</style>


