<template>
  <div class="builder-results">
    <ul class="results__options">
      <li
        class="results__option"
        @click="goToFabrics">
        <div class="option__tab">Fabric</div>
        <div class="option__value">{{ parts.color.name }}</div>
      </li>
      <li
        class="results__option"
        @click="goToFront">
        <div class="option__tab">
          Front
        </div>
        <div class="option__value">
          {{ parts.front }}
        </div>
      </li>
      <li
        class="results__option"
        @click="goToCuffs">
        <div class="option__tab">
          Cuffs
        </div>
        <div class="option__value">
          {{ parts.cuffs }}
        </div>
      </li>

      <li
        class="results__option"
        @click="goToSize">
        <div class="option__tab">
          Size
        </div>
        <div
          :class="{ 'not-valid': !sizeValid}"
          class="option__value">
          {{ sizeName || labels.empty_size }}
        </div>
      </li>
    </ul>


    <div class="basket__stuff">
      <div class="basket__price">{{ priceRange }}</div>
      <button
        :disabled="isLoading"
        class="basket__add"
        @click="addToBasket">Add to Basket</button>
    </div>


    <div class="info-wrapper">
      <div class="additional-info">
        <p><span>Choose currency</span>
          <button
            class="currency-icon"
            @click="showCurrencies">{{ currentCurrency }}</button></p>
      </div>
      <div class="additional-info">
        <p>Buy More, Save More <button
          class="discount-icon"
          @click="showDiscount">?</button></p>
      </div>
    </div>

    <new-shirt-size
      v-if="sizePopup"
      :measures.sync="measures"/>
    <popup v-if="discountPopup">
      <Discount/>
    </popup>
    <popup v-if="currenciesPopup">
      <Currencies/>
    </popup>
  </div>
</template>

<script>
import NewShirtSize from "./NewShirtSize.vue";
import Popup from "./Popup.vue";
import Discount from "./Discount.vue";
import Currencies from "./Currencies.vue";
import { mapGetters } from "vuex";
import axios from "axios";
import swal from 'sweetalert';

export default {
  components: {
    NewShirtSize,
    Popup,
    Discount,
    Currencies
  },
  data() {
    return {
      labels: {
        empty_size: "Choose Size"
      },
      sizeValid: true,
      sizePopup: false,
      discountPopup: false,
      currenciesPopup: false,
      isLoading: false,
      currentCurrency: builder_object.currencies.split(',')[0],
      priceRange: builder_object.product_price || "$109 - $149 SGD",
      patternRangePrice: builder_object.pattern_range_price_text || "$129 SGD",
      premiumRangePrice: builder_object.premium_range_price_text || "$149 SGD"
    };
  },
  computed: {
    ...mapGetters({
      parts: "getParts",
      sizes: 'getSizes',
      size: "getSelectedSize",
      sizeName: "getSelectedSizeName",
      isLogged: 'getLogStatus'
    }),
    sizeChoosen() {
      return this.size;
    },

    measures: {
      get () {
        return this.$store.state.measures
      },
      set (value) {
        this.$store.commit('updateMeasures', value)
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (from.path === "/size/shoulders") {
        vm.sizePopup = true;
      }
      next();
    });
  },
  created() {
    Event.listen('sizeRemove', () => {
      this.sizePopup = false;
    }),
    Event.listen("popup-remove", () => {
      this.discountPopup = false;
      this.currenciesPopup = false;
    });
    Event.listen("colorChanged", () => {
      if (this.parts.color.type === 'single') {
        this.priceRange = this.premiumRangePrice
      } else if (this.parts.color.type === 'texture') {
        this.priceRange = this.patternRangePrice
      }
    });
  },
  methods: {
    goToFabrics() {
      this.$router.push({ name: "fabric" });
    },
    goToFront() {
      this.$router.push({ name: "front" });
    },
    goToCuffs() {
      this.$router.push({ name: "cuffs" });
    },
    goToSize() {
      if (this.isLogged && this.sizes.length > 0) {
        this.$router.push({ name: "sizes" });
      } else {
        this.$router.push({ name: "size" });
      }

    },

    addToBasket(event) {

      this.isLoading = true;

      if (!this.sizeChoosen) {
        this.sizeValid = false;
        return;
      }

      this.sizeValid = true;

      var params = new FormData();
      params.append("action", builder_object.action);
      params.append("nonce", builder_object.nonce);
      params.append("product_id", builder_object.product_id);
      params.append("parts", JSON.stringify(this.parts));
      params.append("measures", JSON.stringify(this.measures));
      params.append("sizeName", this.sizeName);

      axios
        .post(builder_object.ajax_url, params)
        .then(response => {
          const resp = response.data;
          const basket = document.querySelector('.quick-basket');
          const cartItems = document.querySelector('.cart__items');

          basket.innerHTML = JSON.parse(resp.data.html);
          cartItems.innerHTML = resp.data.quantity;

          this.isLoading = false;
          swal("Product added!", "You've added a new product to the cart", {
            buttons: false,
            timer: 3000,
            icon: "success",
            className: "alert__add-shirt"
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    showDiscount() {
      this.discountPopup = true;
    },

    showCurrencies() {
      this.currenciesPopup = true;
    },

    addSize() {
      return true;
    }
  }
};
</script>

<style lang="scss">
  .not-valid {
    color: #d76264;
  }

  .notification-wrapper {
    padding: 3rem;
    margin: 0 5px 5px;
    font-size: 1rem;

    color: #1e1e1e;
    background: #fff;
    border: 2px solid #1e1e1e;

    &.notify {
      background: #fff;
    }
  }
</style>
