<template>
  <div class="option neck-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <p class="option-desc">Do you have normal, square or sloping shoulders?</p>
      <div class="shoulders-measure-types">
        <button
          :class="{ 'shoulders-type--selected': isActive('normal') }"
          class="shoulders-type"
          @click.prevent="normal()">Normal</button>
        <button
          :class="{ 'shoulders-type--selected': isActive('square') }"
          class="shoulders-type"
          @click.prevent="square()">Square</button>
        <button
          :class="{ 'shoulders-type--selected': isActive('sloping') }"
          class="shoulders-type"
          @click.prevent="sloping()">Sloping</button>
      </div>
      <div class="shoulders-image-wrapper">
        <img
          :src="selected.img"
          alt=""
          class="shoulders-image">
      </div>
    </div>

  </div>
</template>
<script>
    import formHeader from "../Header.vue"
    import { store }  from "../store/store"
    import calculator from "../../../calc-mixin.js"
    export default {
        components: {
            formHeader,
        },
        mixins: [calculator],
        data() {
            return {
                labels: {
                    name: 'Size - Shoulders',
                },
                types: {
                    normal: {
                        img: window.img_url + "Shoulder - normal.png",
                        name: "shoulders-normal"
                    },
                    square: {
                        img: window.img_url + "Square shoulders.png",
                        name: "shoulders-square"
                    },
                    sloping: {
                        img: window.img_url + "Shoulder - sloping.png",
                        name: "shoulders-sloping"
                    },
                },
                selected: ""
            }
        },
        computed: {
            canMove() {
                return true
            }
        },
        mounted() {
            this.normal();
        },
        methods: {
            normal() {
                this.selected = this.types.normal;
                this.$store.commit('updateShoulders', this.selected.name)
                this.setMeasures();
                this.setActive('normal');
            },
            square() {
                this.selected = this.types.square;
                this.$store.commit('updateShoulders', this.selected.name)
                this.setMeasures();
                this.setActive('square');
            },
            sloping() {
                this.selected = this.types.sloping;
                this.$store.commit('updateShoulders', this.selected.name)
                this.setMeasures();
                this.setActive('sloping');
            },

            isActive: function (menuItem) {
                return this.activeItem === menuItem
            },
            setActive: function (menuItem) {
                this.activeItem = menuItem
            },
        }
    }
</script>
<style lang="sass" scoped>
    .option-body
        display: flex
        flex-direction: column
    .option-desc
        font-size: 15px
        padding-top: 9.27%
        font-weight: bold
        margin-bottom: 11.3%
    .shoulders-measure-types
        margin: 0 auto
        width: 210px
        display: flex
        height: 30px
        margin-bottom: 8%
    .shoulders-type
        width: 70px
        border: none
        font-size: 12px
        background-color: #dedede
        color: #919191
    .shoulders-type--selected
        background-color: #ececec
        color: #1e1e1e
    .shoulders-image-wrapper
        width: auto
        margin: 0 auto
</style>