<template>
  <div class="option size-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <button
        class="button button-grey"
        @click="showSizing">{{ labels.greyButton }}</button>
      <p class="size-option__buttons-divider">or</p>
      <button
        v-if="isLogged == 1"
        class="button button-white"
        @click="goToSizes">{{ labels.sizesButton }}</button>
      <button
        v-if="isLogged == 0"
        class="button button-white"
        @click="showLogin">{{ labels.whiteButton }}
      </button>
    </div>
    <login-popup
      v-if="loginPopup"
      :stay="false"/>
    <sizing-popup v-if="sizingOpened"/>
  </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import formHeader from "../Header.vue"
    import loginPopup from "./Login.vue"
    import sizingPopup from "./SizingMethod.vue"

    export default {
        components: {
            formHeader,
            loginPopup,
            sizingPopup
        },
        data: function() {
            return {
                labels: {
                    name: 'Size',
                    greyButton: 'Create New Size',
                    whiteButton: 'Login For Saved Sizes',
                    sizesButton: 'Go to Your Sizes'
                },
                loginPopup: false,
                sizingOpened: false,
                canMove: false
            }
        },
        computed: {
            ...mapGetters({
                sizes: 'getSizes',
                isLogged: 'getLogStatus',
            })
        },
        created() {
            Event.listen('loginRemove', () => {
              this.loginPopup = false;
            }),

            Event.listen('methodRemove', () => {
              this.sizingOpened = false;
            })
        },
        methods: {
          showLogin: function() {
              this.loginPopup = true;
          },
          showSizing: function() {
              this.sizingOpened = true;
          },
          goToSizes: function() {
              if (this.sizes.length > 0) {
                  this.$router.push( {name: 'sizes'} );
              } else {
                  this.showSizing();
              }
          }
        }
    }
</script>

