<template>
  <div class="option size-measurements">
    <form-header :tab-name="labels.name"/>
    <div class="option-body">
      <div class="measurements__step1">
        <h3 class="step__header">
          Step 1
        </h3>
        <p class="step_description">Lay your shirt on a flat surface and follow the instructions below.
        We have started off with the measurements of a
        standard slim fit shirt with neck size 15”</p>

        <measurements-form :measures.sync="selectedSize"/>

        <h3 class="step__header">
          Step 2
        </h3>
        <p class="step_description">
          Name your personal custom size and press save when you are ready to go back to the customizer..
        </p>

        <form class="save-size__form">
          <input
            v-model="sizeName"
            type="text"
            placeholder="Title"
            name="Title">
          <input
            type="email"
            placeholder="Email"
            name="email">
          <button
            type="submit"
            class="button"
            @click.prevent="saveMeasurements">Save</button>
        </form>
      </div>


    </div>

  </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import formHeader from "../Header.vue"
    import MeasurementsForm from "./MeasurementsForm.vue"
    export default {
        components: {
            formHeader,
            MeasurementsForm
        },
        data() {
            return {
                labels: {
                    name: 'Shirt Measurements',
                },
                sizeName: '',
                selectedSize: this.$store.state.default_measures
            }
        },
        computed: {
            ...mapGetters({
                parts: 'getParts'
            })
        },
        methods: {
            saveMeasurements() {
                this.$store.dispatch('addSize', {name: this.sizeName, measures: JSON.parse(JSON.stringify(this.selectedSize)), parts: this.parts});
                this.$store.commit('changeSizeName', this.sizeName);
                this.$store.commit('changeSize', {name: this.sizeName, measures: JSON.parse(JSON.stringify(this.selectedSize)), parts: this.parts});
                this.$router.push("/");
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import "../../../../sass/common/_mixins.sass"
    .save-size__form
        display: flex
        flex-direction: column
        align-items: flex-started

    .step__header
        font-size: rem(15)
        color: #5b5b5b
        font-weight: 900
        margin-top: 0
        padding-bottom: rem(8)
        border-bottom: 1px solid #eaeaea
        margin-bottom: rem(20)

    .step_description
        font-size: rem(13)
        color: #5b5b5b



    .measurements__form
        margin-bottom: rem(40)

    .save-size__form
        max-width: rem(325)
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-bottom: rem(30)

        input
            margin-bottom: rem(8)
            padding: rem(12)
            line-height: 1
            font-size: rem(12)
            color: #505050
            width: 100%

        .button
            padding: rem(12) rem(30)
            font-weight: 700
            transition: background-color .3s ease-in-out

            &:hover,
            &:active
                background-color: #cdcdcd

    .shirt-builder__form
        .options
            max-height: none
</style>


