<template>
  <div
    class="builder-popup__bg"
    @click.self="methodRemove">
    <div class="builder-popup">
      <h2 class="builder-popup__header">Choose Sizing Method</h2>
      <p class="builder-popup__desc">
        We have 2 different ways you can create your own custom <strong>TOR shirt</strong>
      </p>
      <div class="sizing-methods">
        <div
          class="sizing-method"
          @click="goToNeck()">
          <img
            :src="img_url + 'tor-size.png'"
            alt=""
            class="sizing-method__icon">
          <div class="sizing-method__content">
            <h4 class="sizing-method__title">TOR <strong>Size</strong></h4>
            <p class="sizing-method__desc">Answer <strong>5</strong> easy questions and create your TOR Size. </p>
          </div>
        </div>

        <div
          class="sizing-method"
          @click="goToMeasurements()">
          <img
            :src="img_url + 'shirt-measurement.png'"
            alt=""
            class="sizing-method__icon">
          <div class="sizing-method__content">
            <h4 class="sizing-method__title">Shirt <strong>Measurements</strong></h4>
            <p class="sizing-method__desc">Measure yout favourite dress shirt.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
    export default {
        data: function() {
            return {
                img_url: window.img_url
            }
        },
        methods: {
            methodRemove: function() {
                Event.fire('methodRemove')
            },

            goToNeck() {
                this.$store.commit('toggleQuiz');
                this.$router.push({path: '/size/neck'});
            },

            goToMeasurements() {
                this.$router.push({path: '/size/measurements'})
            },
        }
    }
</script>

<style lang="sass" scoped>
    @import "../../../../sass/common/_mixins.sass"
    .sizing-method
        width: 100%
        padding: rem(30) rem(60)
        margin-bottom: rem(10)
        cursor: pointer
        &:hover,
        &:active
            background-color: #f3f3f3
</style>


