<template>
  <div class="option neck-option">
    <form-header
      :tab-name="labels.name"
      :can-move="canMove"/>
    <div class="option-body">
      <p class="option-desc">Do you wish to shorten or lengthen your sleeves ?</p>
      <div class="measure-types">
        <button
          :class="{ 'measure-type--active': isActiveMeasure('cm') }"
          class="measure-type"
          @click="toCM()">cm</button>
        <button
          :class="{ 'measure-type--active': isActiveMeasure('inches') }"
          class="measure-type"
          @click="toINCH()">inches</button>
      </div>
      <div class="sleeves-measures">
        <button
          class="sleeve-changer"
          @click.prevent="reduceSize()">-</button>
        <div class="input-block">
          <input
            v-model="size"
            type="text"
            class="sleeve-input"
            name="sleeve">
          <span
            v-if="sizeIsDefault"
            class="sleeve-desc">This is the standard sleeve length for your height</span>
        </div>
        <button
          class="sleeve-changer"
          @click.prevent="addSize()">+</button>
      </div>

    </div>
    <div class="fit-image-wrapper">
      <img
        :src="shirtUrl"
        alt=""
        class="fit-image">
    </div>

  </div>
</template>
<script>
    Number.prototype.round = function(places) {
        return +(Math.round(this + "e+" + places)  + "e-" + places);
    }
    import formHeader from "../Header.vue"
    import { store }  from "../store/store"
    import calculator from "../../../calc-mixin.js"
    export default {
        components: {
            formHeader,
        },
        mixins: [calculator],
        data() {
            return {
                labels: {
                    name: 'Size - Sleeves',
                },
                defaultSize: this.$store.state.measures.sleeves[0].value,
                activeMeasure: 'inches',
                shirtUrl: window.img_url + 'Sleeves.png'
            }
        },
        computed: {
            size: {
                get () {
                    return this.$store.state.parts.size.customSleeves || this.$store.state.measures.sleeves[0].value
                },
                set (value) {
                    this.$store.commit('updateCustomSleeves', value);
                    this.setMeasures();
                }
            },
            sizeIsDefault: function() {
                return this.size == this.defaultSize;
            },
            canMove() {
                return true
            },
            cm_measures() {
                if (this.activeMeasure == 'cm') {
                    return this.size
                }

                return (this.size / 0.39370).round(2)
            },
            inch_measures() {
                if (this.activeMeasure == 'inches') {
                    return this.size
                }

                return (this.size * 0.39370).round(2)
            }
        },
        //  watch: {
        //     size: function (val) {
        //
        //     }
        // },
        mounted() {
            this.$store.state.guards.size.setSleeves = true;
        },
        methods: {
            addSize() {
                this.size+=0.5;
            },
            reduceSize() {
                this.size-=0.5;
            },
            toINCH() {
                this.size = this.inch_measures
                this.setActiveMeasure('inches');
            },
            toCM() {
                this.size = this.cm_measures
                this.setActiveMeasure('cm');
            },
            isActiveMeasure: function (measure) {
                return this.activeMeasure === measure
            },
            setActiveMeasure: function (measure) {
                this.activeMeasure = measure
            },
        },
        beforeRouteEnter(to, from, next) {
        if (store.state.guards.size.setFit) {
                next()
            } else {
                next(false)
            }
        }
    }
</script>

<style lang="sass" scoped>
    .option-body
        display: flex
        flex-direction: column
        margin-bottom: 120px
    .option-desc
        font-size: 15px
        padding-top: 9.27%
        font-weight: bold
        margin-bottom: 11.3%
    .sleeve-changer
        width: 47px
        height: 40px
        background-color: black
        color: #fff
        position: relative
        z-index: 2
        border: 0
        line-height: 2
    .sleeve-input
        width: 75px
        height: 38px
        font-size: 20px
        color: #1e1e1e
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        border: 1px solid #c4c4c4
        z-index: 2
        position: relative
    .input-block
        position: relative
    .sleeve-desc
        position: absolute
    .sleeves-measures
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        &:before
            content: ''
            height: 1px
            width: 100%
            position: absolute
            background-color: #c4c4c4
            top: 50%
            left: 50%
            transform: translate(-50%)
            z-index: 1
    .sleeve-desc
        width: 150px
        height: 85px
        border: 1px solid #1e1e1e
        font-size: 12px
        font-weight: 600
        padding: 10px
        line-height: 20px
        left: -75px
        margin-left: 50%
        top: 52px
        &:before
            content: ''
            display: block
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-bottom: 5px solid #1e1e1e
            width: 0px
            height: 0px
            position: absolute
            left: -2.5px
            margin-left: 50%
            top: -5px

    .fit-image-wrapper
        text-align: center
</style>
