<template>
  <div class="measurements__data">
    <div class="measure-types">
      <a
        :class="{ 'measure-type--active': isActiveMeasure('inches') }"
        class="measure-type"
        @click.prevent="toINCH()">inches</a>
      <a
        :class="{ 'measure-type--active': isActiveMeasure('cm') }"
        class="measure-type"
        @click.prevent="toCM()">cm</a>
    </div>
    <div class="measurements">
      <h3 class="measurement__cat">
        Body
      </h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.body"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__value">
            {{ el.value }} {{ activeMeasure }}
          </div>
        </li>
      </ul>

      <h3 class="measurement__cat">
        Neck
      </h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.neck"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__value">
            {{ el.value }} {{ activeMeasure }}
          </div>
        </li>
      </ul>

      <h3 class="measurement__cat">
        Sleeves
      </h3>
      <ul class="measurement__params">
        <li
          v-for="(el, index) in currentMeasures.sleeves"
          :key="index"
          class="measurement__params__param">
          <div class="measure__name">{{ el.name }}</div>
          <div class="measure__value">
            {{ el.value }} {{ activeMeasure }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>

    import convertor from "../../../cm-inch-convertor.js"
    export default {
        mixins: [convertor],
        props: [
            'measures'
        ],
        data() {
            return {
                activeMeasure: 'inches'
            }
        },
        computed: {
          currentMeasures: {
            get: function () {
              return JSON.parse(JSON.stringify(this.measures));
            },
            set: function (newValue) {
              this.$emit('update:measures', newValue);
            }
          }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/common/_mixins.sass";
    .measurements__data {
        background-color: #f5f5f5;
        padding: rem(25) rem(30);
        margin-bottom: rem(30);
    }

    .measurement__params__param {
        padding-bottom: rem(10);
    }

</style>

