.option-header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: rem(20)
  padding-bottom: rem(10)
  border-bottom: 1px solid $black
  margin-bottom: rem(20)

  .option-button
    background: none
    border: 1px solid $grey
    padding: 5px 8px
    font-size: rem(12)
    font-weight: 700

    &:hover,
    &:active
      border: 1px solid $black

    .fa:first-child
      margin-right: 8px

    .fa:last-child
      margin-left: 8px

  .summary-button
    padding-left: rem(27)
    background-image: url('../img/builder/summary.png')
    background-repeat: no-repeat
    background-position-y: 50%
    background-position-x: 8px

  .next-button
    padding-right: rem(35)
    background-image: url('../img/builder/arrow-next.png')
    background-repeat: no-repeat
    background-position-y: 50%
    background-position-x: 40px

    &:disabled
      opacity: 0.4

  .option-header__text
    margin: 0
    text-transform: uppercase
    font-size: 1rem
    font-weight: 900
