.measurements__form
    background-color: #f5f5f5
    padding: rem(15) rem(30)
    flex: 1
    max-width: rem(490)
    input[type="radio"]:checked + label
        width: 0
        height: 0
        &:after
            content: "\F00C"
            font-family: 'Font Awesome 5 Free'
            line-height: 1
            width: 100%
            position: absolute
            left: rem(-19)
            top: rem(-5)
            bottom: 0
            height: 100%
            text-align: center
            padding-left: rem(2)
            padding-top: rem(1)
    input[type="radio"] + label
        width: 0
        height: 0
        cursor: pointer
        &:before
            content: ""
            padding: 1px
            border: 1px solid #1c1c1c
            border-radius: 50%
            width: rem(13)
            height: rem(13)
            display: flex
            justify-content: center
            align-items: center
            position: relative
            right: rem(20)
            bottom: rem(7)
            cursor: pointer
    input[type="radio"]
        width: 0
        height: 0

    .measure__input
        display: flex
        position: relative

    .measurement-button
        height: rem(28)
        width: rem(28)
        line-height: 1
        background-color: #1e1e1e
        color: #ffffff
        border: none
        transition: background-color .3s ease-in-out

        &:hover,
        &:active
            background-color: $highlight

    .measure__name
        font-size: rem(13)

    .measure__value
        margin: 0
        max-width: rem(60)
        border-left: none
        border-right: none
        border-top: 1px solid #1e1e1e
        border-bottom: 1px solid #1e1e1e
        padding: rem(0) rem(10)
        font-size: rem(11)
        text-align: center
        position: relative


    .measure__value::-webkit-inner-spin-button,
    .measure__value::-webkit-outer-spin-button
        -webkit-appearance: none !important
        margin: 0 !important
        -moz-appearance:textfield !important

.measurement__cat
    margin: 0
    font-size: rem(13)
    font-weight: 900
    text-align: left

.measurement__params
    list-style: none
    padding: 0

.measurement__params__param
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #d0d0d0
    margin-bottom: rem(10)
    input[type='radio']
      -webkit-appearance: radio
      cursor: pointer
      display: none

.measure-types
    text-align: right
    .measure-type
        background-color: transparent
        border: none
        padding: 0
        line-height: 1
        color: #959393

        &.measure-type--active
            color: #1e1e1e;




