.shirt-builder__categories
  list-style: none
  padding-left: 0
  margin: 0
  padding-top: rem(40)
  display: none
  +mymed(mscr)
    display: block

  li
    padding: rem(20)
    position: relative
    text-transform: uppercase
    border-bottom: 1px solid $grey
    cursor: pointer
    &:before
      @include pseudo()
      content: ''
      height: 6px
      width: 6px
      background-color: $grey
      top: 50%
      left: 0
      transform: translateY(-50%)

    &.category-active,
    &:hover
      &:before
        background-color: $highlight
