/* Partial Style */

@media (max-width: rem(1263))
  .builder-popup
    padding-top: rem(60)
    padding-bottom: rem(60)
  .builder-popup__desc
    letter-spacing: rem(1)
    width: 85%
    margin-left: auto
    margin-right: auto
    margin-bottom: rem(60)
  .option-body
    .option-type
      font-size: rem(14)
      padding-bottom: rem(8)
      margin-bottom: rem(10)
    .fabric-element
      &:nth-child(even)
        margin-left: 1%
  .option-body .fabric-element
    max-width: 48%
    margin-left: 0%
    margin-right: 2%
    &:nth-child(even)
      margin-right: 0%
      margin-left: 2%

@media (max-width: rem(1200))
  .size-option
    max-width: 100%
  .result-t-shirt
    display: none
  .shirt-builder__categories
    padding-left: rem(25)
  .sidebar .submenu.menu-list
    z-index: 1

@media (max-width: rem(1140))
  .option-body
    .fabric-element
// max-width: 100%
// margin-right: 0%
// margin-left: 0%
@media (max-width: rem(991))
  .measurements__form
    input[type="radio"]:checked + label:after
      top: rem(3)
    input[type="radio"] + label:before
      bottom: 0
  .neck-sizes
    .neck-size-element
      width: 25%
  .height-input__wrapper
    width: 100%
  .step_description
    margin-bottom: rem(20)
  .sleeves-measures
    margin-bottom: rem(100)
  .measure__name,
  .measure__value,
  .measurement__cat
    font-size: rem(14)
  .builder-popup__bg, .builder-popup__overview
    overflow: auto
    .builder-popup
      display: flex
      flex-direction: column
      .form-footer,
      .shirt-image
        margin-top: rem(40)
        text-align: center
        width: 100%
      > div
        width: 100%
        flex-direction: column
  .user-size
    margin-left: rem(-15)
    margin-right: rem(-15)
  .user-size__header,
  .measurements__data
    padding-left: rem(15) !important
    padding-right: rem(15) !important
  .my-sizes
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .sizes__list
      margin-bottom: rem(20)
  .measurements__form
    .measure__name
      line-height: 2
  .save-size__form
    width: 100%
    max-width: 100% !important
    margin-right: 0
    .button
      max-width: 100% !important
      width: 100%
    input
      border: 1px solid $grey
      max-width: 100%
  .measurements__form
    //margin-left: rem(-15)
    //margin-right: rem(-15)
    padding-left: rem(15)
    padding-right: rem(15)
    max-width: 100%
    ul.measurement__params
      margin-top: rem(20)
    .measurement__cat
      margin-top: rem(30)
  .fabric-element
  // max-width: 100%
  // margin-right: 0%!important
  // margin-left: 0%!important
  .builder-section
    margin-bottom: 0
  .shirt-builder
    border-bottom: 0
    .options
      .option-body
    // margin-bottom: rem(100)
    .process
      width: 100%
  .sizing-method
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    text-align: left
    .sizing-method__icon
      margin-top: rem(10)
    .sizing-method__title
      margin: 0
    .sizing-method__content
      margin-top: rem(5)
      margin-bottom: rem(5)
      margin-left: rem(30)
      line-height: 1.4
  .shirt-builder__form
    padding-left: rem(15)
    padding-right: rem(15)
    padding-bottom: rem(80)
    .options
      .fit-image-wrapper,
      .shoulders-image-wrapper
        margin-bottom: rem(30)
        margin-top: rem(10)
      .option-desc
        margin-top: rem(10)
        margin-bottom: rem(30)
        padding: 0
        line-height: 2
  .body-shape__types
    flex-direction: column
    flex-wrap: wrap
    flex-flow: wrap
    .body-shape-element
      width: 49% !important
      margin-left: 0
      margin-right: 1% !important
      padding-left: 0 !important
      &:nth-child(even)
        margin-right: 0 !important
        margin-left: 1% !important
      .radio-image__wrapper
        p
          margin-top: 0
  .logo-block
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
  .sidebar .sidebar__user .user__cart-link
    margin-right: rem(20)
    padding: rem(12)
  .sidebar .sidebar__user .cart__items
    left: rem(15)
  .menu-list__item.has-submenu.active
    border-top: rem(1) solid #c18283

@media (max-width: rem(500))
  .neck-sizes
    .neck-size-element
      width: 31% !important
      margin-left: 1% !important
      margin-right: 1% !important
  .body-shape__types
    .body-shape-element
      width: 80% !important
      margin-left: auto
      margin-right: auto !important
      padding-left: 0 !important
      &:nth-child(even)
        margin-right: auto !important
        margin-left: auto !important
  .option-body
    .fabric-element
      max-width: rem(400)
      width: 80%
      margin-left: auto
      margin-right: auto
      .radio-image__wrapper
        height: rem(200)
      &:nth-child(even)
        margin-left: auto
        margin-right: auto
/* General Style */
@media (max-width: rem(1263))
  .builder-popup
    padding-left: rem(15)
    padding-right: rem(15)
  .builder-login__no-account
    margin-top: rem(25)
  .size-option
    .builder-popup__submit,
    input
      font-size: rem(14)
  .option-header
    align-items: center
    .option-header__text
      font-size: rem(14)
  .footer
    max-width: 92% !important
    margin: auto
    .footer__language__switcher
      justify-content: center !important
    .social-links
      padding-top: rem(35)

@media (max-width: rem(991))
  .option-header
    align-items: center
    .option-header__text
      font-size: rem(11)
@media (max-width: rem(768))
  .builder-popup__overview
    .builder-popup
      padding: rem(15)!important
      width: calc(100% - 35px)!important
