.builder-popup__bg
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  width: 100vw
  min-height: 100vh
  background-color: rgba(112, 112, 112, .5)
  display: flex
  justify-content: center
  align-items: center
  overflow: auto

.builder-popup__overview
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  width: 100vw
  min-height: 100vh
  background-color: rgba(112, 112, 112, .5)
  display: block!important
  overflow: auto

.builder-popup
  padding: rem(55) rem(130)
  background-color: #fff
  text-align: center

  .builder-popup__form

    input
      width: 100%
      padding: .8125rem .9375rem
      margin-bottom: .625rem
      border: 1px solid #bebebe
      -webkit-appearance: none


.builder-popup__header
  font-size: rem(18)
  font-weight: 900
  margin-top: 0
  margin-bottom: rem(25)
  line-height: 1
  letter-spacing: 1.3px

.builder-popup__desc
  font-size: rem(14)
  color: #808080
  line-height: 2
  margin-top: 0
  margin-bottom: rem(75)

.builder-popup__form
.sizing-method
  margin-bottom: rem(10)
  border: 1px solid $grey
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &:hover
    border: 1px solid transparent


.builder-popup__submit
  background-color: #a3a3a3
  color: #fff
  text-transform: uppercase
  border: none
  width: 100%
  padding: .8125rem .9375rem
  margin-bottom: .625rem


.builder-login__reset
  float: right
  color: $highlight
  cursor: pointer
  line-height: 1
  font-size: rem(12)

  &:hover,
  &:active
    border-bottom: 2px solid $highlight

.builder-login__nav-text
    text-align: left
    color: #9a9999
    font-size: rem(12)
    line-height: 1
    padding-top: rem(10)
    border-top: 1px solid #e3e3e3

    .builder-login__nav-link
      color: #1e3b5a
      cursor: pointer

      &:hover,
      &:active
        border-bottom: 2px solid #1e3b5a

.magic-link__wrapper
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  max-width: rem(470)

  .size-option__buttons-divider
    font-size: rem(18)
    color: #d1d1d1
    margin-bottom: rem(45)

  .magic-link__button
    background-color: transparent
    color: $black
    border: 1px solid #d1d1d1
    font-size: rem(14)

    &:hover,
    &:active
      background-color: #d1d1d1
      color: #fff

  .magic-link__text
    font-size: rem(12)
    color: #6f6f6f
    max-width: rem(270)

.builder-popup__submit
    width: 100%
    padding: rem(13) rem(15)
    margin-bottom: rem(10)
    background-color: #a3a3a3
    color: #fff
    text-transform: uppercase
    border: none

    &:hover,
    &:active
      background-color: darken(#a3a3a3, 5%)
