<template>
  <div class="shirt-builder__form">
    <form-menu v-if="['main'].indexOf($route.name) == -1"/>
    <div class="options">
      <transition name="scale">
        <keep-alive>
          <router-view/>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>
<script>
    import formMenu from "./Menu.vue"
    import Fabric from "./Tabs/Fabric.vue"
    import Front from "./Tabs/Front.vue"
    export default {
        components: {
            Fabric,
            formMenu,
            Front
        }
    }
</script>

<style lang="sass">
  .scale-enter,
  .scale-leave-to
    opacity: 0

  .scale-leave,
  .scale-enter-to
    opacity: 1

  .scale-enter-active,
  .scale-leave-active
    transition: opacity 300ms ease-in-out

</style>
