<template>
  <div class="shirt-builder">
    <div class="shirt-builder__container">
      <shirt/>
      <builder-form/>
    </div>
    <process v-if="['main'].indexOf($route.name) > -1"/>
  </div>
</template>
<script>
  import Shirt from "./Shirt.vue"
  import BuilderForm from "./BuilderForm.vue"
  import Process from "./Process.vue"
  import axios from "axios"
  export default {
    components: {
        Shirt,
        BuilderForm,
        Process
    },
    computed: {
        parts() {
            return this.$store.state.parts;
        }
    },
    created() {
      if (parseInt(main_ajax_object.is_logged)) {
        this.$store.commit('updateLogged', true);
        this.getSizes();

        Event.listen('sizesUpdated', () => {
          this.getSizes();
        });
      }
    },
    methods: {
      getSizes() {
        const params = {}

        params.action = builder_object.get_sizes.action
        params.nonce = builder_object.get_sizes.nonce
        axios
        .get(builder_object.ajax_url, {params})
        .then((response) => {
        const res = response.data;

        if (res.success) {
            const sizes = res.data.sizes;

            if (sizes !== null) {
                this.$store.commit('updateSizes', sizes);
                if (localStorage.getItem("currentSize") !== null) {
                  const currentItem = JSON.parse(localStorage.getItem("currentSize"));
                  this.$store.commit('changeSize', currentItem);
                  this.$store.commit('changeSizeName', currentItem.name);
                } else {
                  this.$store.commit('changeSize', sizes[0]);
                  this.$store.commit('changeSizeName', sizes[0].name);
                }

            }
        } else {
            this.errors.push(res.data)
        }

        })
        .catch((error) => {
            console.log(error);
        });
      }
    }
  }
</script>