<template>
  <div class="option-header">
    <button
      class="option-button summary-button"
      @click="goToSummary">{{ summaryButton }}</button>
    <h2 class="option-header__text">{{ tabName }}</h2>
    <button
      v-if="isSize"
      :disabled="!canMove"
      class="option-button next-button"
      @click="next">{{ nextButton }}</button>
  </div>
</template>
<script>
if (!Array.prototype.findIndex) {
  Object.defineProperty(Array.prototype, 'findIndex', {
    value: function(predicate) {
     // 1. Let O be ? ToObject(this value).
      if (this == null) {
        throw new TypeError('"this" is null or not defined');
      }

      var o = Object(this);

      // 2. Let len be ? ToLength(? Get(O, "length")).
      var len = o.length >>> 0;

      // 3. If IsCallable(predicate) is false, throw a TypeError exception.
      if (typeof predicate !== 'function') {
        throw new TypeError('predicate must be a function');
      }

      // 4. If thisArg was supplied, let T be thisArg; else let T be undefined.
      var thisArg = arguments[1];

      // 5. Let k be 0.
      var k = 0;

      // 6. Repeat, while k < len
      while (k < len) {
        // a. Let Pk be ! ToString(k).
        // b. Let kValue be ? Get(O, Pk).
        // c. Let testResult be ToBoolean(? Call(predicate, T, « kValue, k, O »)).
        // d. If testResult is true, return k.
        var kValue = o[k];
        if (predicate.call(thisArg, kValue, k, o)) {
          return k;
        }
        // e. Increase k by 1.
        k++;
      }

      // 7. Return -1.
      return -1;
    },
    configurable: true,
    writable: true
  });
}
export default {
  props: ["tabName", "canMove"],
  data: function() {
    return {
      summaryButton: "Summary",
      nextButton: "Next",
      isSize: false
    };
  },

  mounted() {
    this.routes = this.$router.options.routes;

    // Init currentRouteId from URL
    this.refreshCurrentRouteId(this.$router.currentRoute.fullPath);

    // Handle manual page change
    this.$router.afterEach((to, from) => {
      this.refreshCurrentRouteId(to.path);
    });

   this.isSize = this.currentRouteId > 0 && this.currentRouteId < 10;
  },
  methods: {
    refreshCurrentRouteId(currentPath) {
      this.currentRouteId = this.routes.findIndex(
        route => route.path === currentPath
      );
    },
    next() {
      if (!this.canMove) {
        return
      }

      if (this.currentRouteId === 9) {
        this.goToSummary();
      } else {
        this.currentRouteId++;

        if (this.routes.length === this.currentRouteId) {
          // Go back to first route
          this.currentRouteId = 0;
        }

        this.$router.push(this.routes[this.currentRouteId]);
      }
    },
    preview() {
      this.currentRouteId--;
      if (this.currentRouteId === -1) {
        // Go to last route
        this.currentRouteId += this.routes.length;
      }

      this.$router.push(this.routes[this.currentRouteId]);
    },

    goToSummary() {
      this.$router.push("/");
    },

    goToSizes() {
      this.$router.push("/sizes");
    }
  }
};
</script>
