<template>
  <ul class="shirt-builder__categories">
    <router-link
      :class="{ 'category-active': isChecked('setFabric') }"
      to="/fabric"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Fabric</router-link>
    <router-link
      :class="{ 'category-active': isChecked('setFront') }"
      to="/front"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Front</router-link>
    <router-link
      :class="{ 'category-active': isChecked('setCuffs') }"
      to="/cuffs"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Cuffs</router-link>
    <router-link
      to="/size"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Size</router-link>
    <router-link
      v-if="isSize"
      :class="{ 'category-active': isChecked('setNeck') }"
      to="/size/neck"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Neck</router-link>
    <router-link
      v-if="isSize"
      :class="{ 'category-active': isChecked('setBody') && isChecked('setHeight') }"
      to="/size/body-shape"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Body Shape</router-link>
    <router-link
      v-if="isSize"
      :class="{ 'category-active': isChecked('setFit') }"
      to="/size/fit"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Fit</router-link>
    <router-link
      v-if="isSize"
      :class="{ 'category-active': isChecked('setSleeves') }"
      to="/size/sleeves"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Sleeves</router-link>
    <router-link
      v-if="isSize"
      :class="{ 'category-active': isChecked('setShoulders') }"
      to="/size/shoulders"
      tag="li"
      class="category"
      active-class="category-active"
      exact>Shoulders</router-link>
  </ul>
</template>

<script>
export default {
  computed: {
    isSize: function() {
      return this.$store.state.quiz;
    }
  },

  methods: {
    isChecked: function(component) {
      return this.$store.state.guards.size[component]
    }
  }
}
</script>


