<template>
  <div class="process">
    <h2 class="process__title">The Process</h2>
    <p class="process__text">We aim to make the sizing and ordering process as simple and straightforward as possible. Here’s how it works:</p>
    <ul class="process__list">
      <li class="process__list__item">
        <p class="process__list__item__number">1</p>
        <h3 class="list__item__header">Create Your Shirt from Our<br> TOR Style Options</h3>
        <p class="list__item__text">Customise the fabric, collar, front and cuffs and create your perfect capsule essential.</p>
      </li>
      <li class="process__list__item">
        <p class="process__list__item__number">2</p>
        <h3 class="list__item__header">Create Your <br>Personal Size</h3>
        <p class="list__item__text">Answer 5 questions and start off your capsule collection with a TOR Size.</p>
        <p class="list__item__text">You also have the option of measuring your favourite Shirt to create your custom size.</p>
      </li>
      <li class="process__list__item">
        <p class="process__list__item__number">3</p>
        <h3 class="list__item__header">We Tailor and <br>Deliver</h3>
        <p class="list__item__text">Each Shirt is Made in Your TOR Style and Personal Size.</p>
        <p class="list__item__text">Your Shirt is shipped and arrives at your door in about two weeks.</p>
      </li>
    </ul>
  </div>
</template>

<script>

export default {

}

</script>
