<template>
  <div class="result-t-shirt">
    <!-- <img
      :src="url"
      class="result-t-shirt__img"> -->
    <vue-magnifier
      :src="url"
      :src-large="url"/>
  </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import VueMagnifier from "./helpers/VueMagnifier.vue"
    export default {
        components: {
            VueMagnifier
        },
        computed: {
            ...mapGetters({
                url: 'getShirtLink'
            })
        },
        methods: {
            changeShirt(shirt) {
                this.url = shirt
            }
        }
    }
</script>