html, body
  height: 100%
  width: 100%

$medium: 768px
$large: 1020px
$xlarge: 1200px
$xxlarge: 1440px

=r($width)
  @media only screen and (max-width: $width + "px")
    @content

=rm($width)
  @media only screen and (min-width: $width + "px")
    @content

=mymed($media)
  @if $media == mscr
    @media only screen and (min-width: $medium)
      @content

  @else if $media == lscr
    @media only screen and (min-width: $large)
      @content

  @else if $media == xscr
    @media only screen and (min-width: $xlarge)
      @content

  @else if $media == xxscr
    @media only screen and (min-width: $xxlarge)
      @content

=mobmed($media)
  @if $media == mscr
    @media only screen and (max-width: $medium - 1)
      @content

  @else if $media == lscr
    @media only screen and (max-width: $large - 1)
      @content

  @else if $media == xscr
    @media only screen and (max-width: $xlarge - 1)
      @content

  @else if $media == xxscr
    @media only screen and (max-width: $xxlarge - 1)
      @content

*
  box-sizing: border-box

body
  background: #fff
  font-size: 16px
  font-family: 'Lato', sans-serif
  color: $black

/*--------------------------------------------------------------
 *# General
 *--------------------------------------------------------------

.container
  max-width: rem(1366)
  margin: 0 auto
  display: flex

.page-wrapper
  flex: 1
  position: relative
  margin: 0 auto

/*--------------------------------------------------------------
 *# Elements
 *--------------------------------------------------------------

img
  max-width: 100%
  height: auto

a
  color: $black
  text-decoration: none

/*--------------------------------------------------------------
 *# Videos
 *--------------------------------------------------------------

.videoWrapper
  position: relative
  padding-bottom: 56.25%
  /* 16:9 */
  padding-top: 25px
  height: 0
  display: none

.videoWrapper iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

// input[type=text]
//   border: 1px solid #bebebe
//   padding: rem(8) rem(12)

::-webkit-input-placeholder
  font-size: rem(12)
  color: $black

::-moz-placeholder
  font-size: rem(12)
  color: $black

::-ms-input-placeholder
  font-size: rem(12)
  color: $black

::-moz-placeholder
  font-size: rem(12)
  color: $black

::-webkit-scrollbar
  width: 5px


::-webkit-scrollbar-track
  background: #ddd


::-webkit-scrollbar-thumb
  background: #666


button, button:active
  outline: none

button[disabled], html input[disabled]
    opacity: .6


.button
  border: 0
  padding: rem(26) rem(120) rem(26) rem(45)
  line-height: 1
  font-size: rem(12)
  letter-spacing: 1.3px
  text-transform: uppercase
  transition: background-color .5s ease-in-out
  position: relative
  &:after
    @include pseudo()
    width: 47px
    height: 13px
    right: 40px
    bottom: 25px
    transition: right .5s ease-in-out

  &:focus
    box-shadow: 0 0 10px 3px $cart-number

  &.button-black
    background-color: $black
    color: $white

    &:after
      background-image: url(../img/arrow.png)

    &:hover
      background-color: $button-hover
      &:after
        right: 20px

  &.button-white
    background-color: $white
    color: $black
    border: 1px solid $black

    &:after
      background-image: url(../img/arrow-black.png)
    &:hover
      background-color: $black
      color: $white
      &:after
        right: 20px
        background-image: url(../img/arrow.png)

.hidden
  display: none !important

.errors-list
  list-style: none
  padding: 0

.builder-popup__error
  color: $highlight
  font-size: .9rem

input[type=number]
  -moz-appearance: textfield

//profile menu
.profile-wrap
  width: calc(100% - 110px )
  +r(990)
    width: 100%
.profile__menu
  +r(700)
    padding: 0 rem(15px)
    margin-top: rem(50)

.profile__menu-list
  margin: 0
  padding: 0
  list-style: none
  display: flex
  font-family: Lato, serif
  justify-content: center
  border-bottom: 1px solid #e7e7e7
  +r(700)
    flex-direction: column
    border-bottom: none
    display: none

.profile__menu-item
  position: relative
  &:not(:last-child)
    margin-right: rem(54)
    +r(700)
      margin-right: 0
  &::after
    content: ''
    position: absolute
    height: 1px
    width: 100%
    bottom: rem(24)
    opacity: 0
    background-color: #c08081
    transition: opacity .25s ease
    +r(700)
      display: none
  &:hover
    &::after
      opacity: 1

.profile__menu-link
  display: block
  padding-top: rem(30)
  padding-bottom: rem(30)
  font-weight: 400
  line-height: 1
  font-size: rem(14)
  font-weight: 400
  color: #1e1e1e
  +r(700)
    padding-left: rem(20)
    padding-top: 0
    padding-bottom: 0
    line-height: 50px
    border-bottom: 1px solid #c4c4c4
    background-color: #d6d6d6

.profile__menu-button
  display: none
  +r(700)
    display: flex
    margin-bottom: 2px
    padding: 16px 16px 16px 27px
    border: none
    border-radius: 0
    background-color: transparent
  &.active
    background-color: #d6d6d6
  span
    position: relative
    margin: 10px 0
    margin-left: 37px
    display: block
    width: 60px
    height: 1px
    background: #1e1e1e
    &::after,
    &::before
      content: ''
      position: absolute
      left: 0
      width: 60px
      height: 1px
      background: #1e1e1e
    &::after
      top: -10px
    &::before
      bottom: -10px

+rm(992)
  .tor-shirt
    .page-content
      position: relative
    .shirt-builder__container
      //margin-left: 90px
    aside
      z-index: 2
      position: absolute
      left: 0
      height: 100%
      max-height: 47.5rem

    .sidebar
      //padding-bottom: 120px
    .submenu
      position: relative
      &::before
        content: ''
        position: absolute
        left: 0
        right: 0
        background-color: rgba(244, 244, 244, 0.87)
        height: 100%
        top: 0
        +r(992)
          height: auto
