@font-face
  font-family: "Avenir Next LT Pro"
  src: url('fonts/AvenirNextLTPro-MediumCn.eot')
  src: url('fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype')
  src: url('fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2')
  src: url('fonts/AvenirNextLTPro-MediumCn.woff') format('woff')
  src: url('fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype')
  font-weight: 200
