@mixin pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos


// Strip units from values
@function strip-unit($num)
  @return $num / ($num * 0 + 1)


// Calculate rems from pixels
// Usage: margin-top: rem(60);
@function rem($px, $base: 16)
  $px: strip-unit($px)
  $base: strip-unit($base)
  @if $px == 1
    @return 1px

  @return $px / $base + rem
