.container
  max-width: none

.coming-soon-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  background-color: #f5f5f5
  text-align: center

  .logo
    margin-bottom: rem(100)

  .coming-soon__title
    font-size: rem(50)
    font-weight: 100
    letter-spacing: 2.6px

  .coming-soon__text
    color: #7e7e7e
    max-width: rem(1000)
    font-weight: 300
    letter-spacing: 0.8px
    line-height: 1.5