.page-single
  .header-section
    margin-bottom: rem(100)
  .header__wrap
    position: relative
    display: flex
    width: 100%
    +r(991)
      margin-top: rem(50)
      justify-content: flex-end
  .header-section__cover
    position: relative
    +r(991)
      width: 63%
    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      background: #fff
      opacity: .5
      position: absolute
      top: 0
      left: 0
  .header-section__text
    z-index: 1
    +r(991)
      top: 73%
      bottom: auto
      left: 50px
      transform: translate(0)
    +r(480)
      //top: 253px
      font-size: rem(13)
      font-weight: 400
      line-height: 1.9
  .header-section__header
    z-index: 1
    +r(991)
      top: 43%
      left: 30px
      transform: translate(0)
    +r(480)
      //top: 170px
      font-size: rem(40)
      font-weight: 400
      line-height: 1.45
  .single__content
    max-width: rem(1000)
    margin-left: auto
    margin-right: auto
    margin-bottom: 6.25rem
    +r(650)
      //top: 170px
      padding-left: rem(30)
      padding-right: rem(30)
      text-align: center
  .header-section__header
    +r(650)
      font-size: rem(20)
  .single__share-buttons
    display: flex
    justify-content: flex-end
    list-style: none
    padding: 0
    margin: 0
  .single__share-button
    width: rem(40)
    height: rem(40)
    border: 3px solid #231f20
    border-radius: 50%
    &:not(:first-child)
      margin-left: rem(20)
    transition: all .3s ease-in-out
    &:hover
      border: 3px solid $highlight

  .single__share-link
    display: block
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: rem(22px)
    transition: all .3s ease-in-out
    &:hover
      color: $highlight




