.page-giftcard
  .header__wrap
    position: relative
    display: flex
    width: 100%
    +r(991)
      margin-top: rem(50)
      justify-content: flex-end
  .header-section__cover
    +r(991)
      width: 63%
  .header-section__text
    right: rem(60)
    +r(991)
      top: 71%
      bottom: auto
      left: 15px
      transform: translate(0, -50%)
    +r(750)
      font-size: rem(22)
      font-weight: 400
      line-height: 1.9
    +r(660)
      //top: 253px
      font-size: rem(13)
      font-weight: 400
      line-height: 1.9
  .header-section__header
    +r(991)
      top: 43%
      left: 15px
      transform: translate(0)
    +r(750)
      font-size: rem(40)
      font-weight: 400
      line-height: 1.45
    +r(480)
      //top: 170px
       font-size: rem(40)
      font-weight: 400
      line-height: 1.45
      transform: translate(0, -50%)
  .button
    display: inline-block
    +r(991)
      margin: 0 auto

.header-section
  display: flex

.giftcard__content
  max-width: rem(1190)
  width: 100%
  margin: 0 auto
  margin-top: rem(150)
  margin-bottom: rem(200)
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +r(991)
    justify-content: center
    margin-top: rem(55)
    margin-bottom: rem(100)

.giftcard__info
  padding-top: rem(45)
  max-width: 45%
  width: 100%
  +r(1190)
    padding-left: rem(15)
  +r(991)
    margin-bottom: rem(50)
    padding-left: 0
    text-align: center
    max-width: 65%
  +r(480)
    max-width: 100%
    padding: 0 rem(15)

.giftcard__info-text
  margin-bottom: rem(45)
  font-family: Lato
  font-size: rem(16)
  font-weight: 400
  line-height: 1.6
  text-align: left
  +r(480)
    margin-bottom: rem(30)

.giftcard__table
  margin-bottom: rem(55)
  +r(480)
    margin-bottom: rem(35)
  table
    width: 100%
    max-width: 100%
    font-family: Lato
    font-size: rem(18)
    font-weight: 300
    color: #1e1e1e
    //line-height: 29px
    border-collapse: collapse
    +r(991)
      margin-left: auto
      margin-right: auto
    td
      max-width: 55%
      height: rem(50)
      vertical-align: middle
      padding: 15px 20px
      i:last-child
        padding-right: rem(14)
    tr td:nth-child(odd)
      background-color: #f0f0f0
      max-width: 43%
  table, th, td
    border: 1px solid #1e212d

  .giftcard__table-label
    display: flex
    align-items: center


.giftcard__image-wrap
  width: 50%
  +r(991)
    width: 100%
  //margin-left: auto
  position: relative
  // &::before
  //   content: ''
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 25%
  //   height: 13%
  //   background-color: #fff
  // &::after
  //   content: ''
  //   position: absolute
  //   right: 0
  //   bottom: 0
  //   width: 8.4%
  //   height: 39%
  //   background-color: #fff


.giftcard__image
  display: block
  +r(991)
    margin: 0 auto
