.header
  position: absolute
  display: flex
  top: 0
  left: 0
  width: 100%
  padding-top: rem(63)
  padding-left: rem(170)
  +r(991)
    display: none

  .header__logo-wrapper
    display: block
    padding: 26px 40px
    background-color: $black
    text-decoration: none
    color: #ffffff
    .header__logo
      margin: 0
      font-size: rem(24)
      font-family: "Avenir Next LT Pro", sans-serif
      font-weight: 100
      letter-spacing: 4px


