.section.header-section
  max-width: rem(1366)
  position: relative
  display: flex
  flex-direction: row
  //+mymed(mscr)
  +r(991)
    width: 100%
    flex-direction: column


.header-section__content,
.header-section__cover
  width: 50%

.header-section__header
  font-family: 'Playfair Display', serif
  font-size: rem(60)
  font-weight: 400
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0

.header-section__text
  font-family: 'Playfair Display', serif
  font-size: rem(28)
  font-weight: 400
  position: absolute
  right: rem(150)
  bottom: rem(80)
  margin: 0
  max-width: rem(740)
.sidebar .sidebar__user .cart__items
  transform: none
@media (max-width: 47.9375rem)
  .sidebar .sidebar__user .user__cart-link
    //padding: 0.75rem
    &:before
      //position: relative
  .sidebar .sidebar__user .cart__items
    //left: 10px
    //top: 35px


