.section
  display: flex
  max-width: rem(1190)
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(140)
  +r(991)
    margin-bottom: rem(0)
    flex-direction: column

.section__content,
.section__cover
  width: 50%
  +r(991)
    width: 100%
.section__cover
  +r(991)
    display: flex
    justify-content: center
    align-items: center
.section__img-wrap
  position: relative
  overflow: hidden
  &:before,
  &:after
    @include pseudo()
    //height: rem(60)
    //width: rem(180)
    height: 9%
    width: 29%
    background-color: $white
  &:before
    bottom: -1px
    left: -1px

  &:after
    top: -1px
    right: -1px


.section__cover--no-decor
  &::before
    display: none
  &::after
    display: none
    


.section__content
  padding-top: rem(100)
  padding-left: rem(85)
  padding-right: rem(20)
  position: relative
  &:after
    @include pseudo()
    content: 'TOR'
    color: #f5f5f5
    font-family: "Avenir Next LT Pro", sans-serif
    font-size: rem(165)
    top: 3rem
    z-index: -1
    font-weight: 200
  +r(991)
    padding-top: rem(94)
    padding-bottom: rem(50)
    padding-left: rem(20)
    padding-right: rem(20)
    &::after
      top: 1rem

.odd-section
  .section__content
    &:after
      left: 0
  +r(991)
    .section__cover
      margin-bottom: rem(70)

  .section__header
    padding-left: rem(70)
    +r(991)
      padding-left: 0
  .section__text
    &:before
      right: -45px

.even-section
  .section__content
    padding-top: rem(90)
    +r(991)

    &:after
      right: 0

  .section__text
    padding-left: rem(45)
    +r(768)
      padding-left: 0
    &:before
      left: -45px
  &--first
    .section__content
      padding-top: rem(90)
    .section__header
      margin-bottom: rem(80)
    .section__text
      &:before
        top: 65%

.section__header
  max-width: 405px
  font-family: 'Playfair Display', serif
  font-size: rem(40)
  margin-top: 0
  line-height: 1.5
  margin-bottom: rem(130)
  font-weight: 400
  +r(991)
    max-width: rem(580)
    margin: 0 auto
    margin-bottom: rem(70)
    font-size: rem(30)
    line-height: 1.6
    text-align: center
  +r(480)
    //max-width: rem(285)

.section__text
  max-width: 380px
  font-size: rem(16)
  line-height: 1.5
  margin-bottom: rem(90)
  &:before
    @include pseudo()
    box-sizing: border-box
    width: 94px
    height: 3px
    //background-image: url(../img/double_line.png)
    border-top: 1px solid $black
    border-bottom: 1px solid $black
    top: 50%
    //transform: translateY(-50%)
    z-index: 1
    +r(991)
      display: none
  +r(991)
    max-width: rem(580)
    margin-bottom: rem(40)
    margin-right: auto
    margin-left: auto
    line-height: 1.8

    p
      margin: 0
      &:not(:last-child)
        margin-bottom: rem(25)

.header-section__button
  padding :
    left: rem(40)
    right: rem(110)
    top: rem(23)
    bottom: rem(23)


.header-section__img
  display: block
