.section.header-section
  max-width: rem(1366)
  +r(991)
    flex-direction: column
    margin-bottom: rem(70)
.header-section__content,
.header-section__cover
  width: 50%
  +r(991)
    width: 100%
.header-section__cover
  +r(991)
    display: flex
    justify-content: center
    align-items: flex-start

.header-section__content
  padding-top: rem(280)
  padding-left: rem(85)
  padding-right: rem(25)
  +r(1110)
    padding-top: rem(230)
    padding-left: rem(25)
  +r(991)
    padding-top: rem(50)
    padding-bottom: rem(50)
    padding-left: rem(20)
    padding-right: rem(20)

  hr
    display: block
    height: 55px
    width: 2px
    //background-color: $black
    margin: 0
    margin-bottom: rem(45)
    border-left: 2px solid $black
    +r(991)
      display: none

.header-section__header,
.header-section__text
  max-width: rem(425)
  +r(991)
    max-width: rem(580)

.header-section__header
  margin: 0
  font-family: 'Playfair Display', serif
  font-size: rem(60)
  line-height: 1.3
  margin-bottom: rem(38)
  font-weight: 400
  +r(1110)
    font-size: rem(60*.8)
  +r(991)
    margin: 0
    margin-left: auto
    margin-right: auto
    margin-bottom: rem(45)
    padding-left: rem(48)
    padding-right: rem(48)
    font-size: rem(40)
    line-height: 1.45
    text-align: center

.header-section__text
  margin-top: 0
  margin-bottom: rem(30)
  font-size: rem(14)
  text-transform: uppercase
  letter-spacing: 1px
  line-height: 1.7
  +r(991)
    margin: 0
    margin-right: auto
    margin-left: auto
    margin-bottom: rem(42)
    line-height: 1.9
    text-align: center
  +r(480)
    padding-left: rem(48)
    padding-right: rem(48)


.header-section__button
  +r(991)
    display: block
    margin: 0 auto
    //width: calc(100% - 6%)


