.page-how-it-works,
.page-blog
  .header__wrap
    position: relative
    display: flex
    width: 100%
    +r(991)
      margin-top: rem(50)
      justify-content: flex-end
  .header-section__cover
    position: relative
    +r(991)
      width: 63%
    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      background: #fff
      opacity: .5
      position: absolute
      top: 0
      left: 0
  .header-section__text
    z-index: 1
    +r(991)
      top: 73%
      bottom: auto
      left: 50px
      transform: translate(0)
    +r(480)
      //top: 253px
      font-size: rem(13)
      font-weight: 400
      line-height: 1.9
  .header-section__header
    z-index: 1
    +r(991)
      top: 43%
      left: 30px
      transform: translate(0)
    +r(480)
      //top: 170px
      font-size: rem(40)
      font-weight: 400
      line-height: 1.45
.section
  display: flex
  max-width: rem(1190)
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(100)

.how-it-works__steps
  list-style: none
  padding: 0
  flex-direction: column

.step
  width: 100%
  display: flex
  justify-content: flex-start
  margin-bottom: rem(100)
  text-align: right
  position: relative
  +r(650)
    margin-bottom: rem(25)
    flex-direction: column
    align-items: center

  .step__number
    @include pseudo()
    top: rem(-30)
    left: 0
    font-size: rem(200)
    color: #f5f5f5
    font-family: "Avenir Next LT Pro", sans-serif
    line-height: 1
    z-index: -1
    font-weight: 200
    +r(650)
      top: -98px
      font-weight: 500

  .step-photo-wrapper
    min-width: rem(425)
    margin-left: rem(60)
    +r(650)
      margin-left: 0
      padding: 0 rem(15)

  .step-content
    margin-left: auto
    padding-top: rem(55)
    padding-left: 15px

    +r(650)
      margin-left: 0
      padding: 0 rem(15)

  .button
    padding-top: rem(19)
    padding-bottom: rem(19)
    display: inline-block
    +r(650)
      margin-bottom: rem(30)
      display: block
      text-align: center
    &:after
      bottom: 50%
      transform: translateY(50%)

  &.step-odd
    text-align: left
    flex-direction: row-reverse
    +r(650)
      flex-direction: column-reverse
      margin-bottom: rem(90)
      background: #f5f5f5

    .step__number
      left: initial
      right: 0
      +r(650)
        z-index: 1
        left: initial
        right: 15px
        top: 280px
        color: #fff

    .step-photo-wrapper
      margin-left: 0
      +r(650)
        padding-top: rem(25)
        margin-bottom: rem(110)

    .step-content
      padding-right: 15px
      margin-left: rem(60)
      margin-right: auto
      +r(650)
        padding-right: 0
        margin: 0

    .step-header
      +r(480)
        margin-left: 0
        margin-right: auto

  .step-header
    font-size: rem(34)
    font-family: 'Lato', serif
    font-weight: 200
    margin-bottom: rem(55)
    margin-top: 0
    +r(650)
      font-size: rem(26)
      font-weight: 300
      line-height: 1.53
    +r(480)
      max-width: 320px
      margin-left: auto
  .step-text
    line-height: 1.5
    +r(650)
      line-height: 1.8
      text-align: left

.page-blog
  .step__number
    font-size: rem(200)
    +r(650)
      font-size: rem(100)
  .step__date
    color: #c7c7c7
    font-size: rem(24)
    font-weight: 200
    text-transform: uppercase
    font-family: 'Lato', sans-serif
    line-height: 1
    margin-bottom: rem(30)
  .step-content
    padding-top: rem(30)
  .step-header
    margin-bottom: rem(20)
  .step-text
    margin-top: 0
    margin-bottom: rem(20)
    p
      margin-top: 0