.order-history
  .sidebar__logo-wrapper
    display: block

.section
  display: flex
  max-width: rem(1190)
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(100)

.orders
  margin: 0 auto
  max-width: rem(1116)
  width: 100%
  padding-left: rem(20)
  padding-right: rem(20)
  padding-top: rem(75)
  display: flex
  flex-direction: column
  +r(991)
    align-items: center
  +r(480)
    padding-top: rem(50)
    padding-left: rem(16)
    padding-right: rem(16)

.order
  background-color: #f5f5f5
  +mymed(mscr)
    margin-bottom: rem(65)
    width: rem(660)
  +r(768)
    width: 100%
    &:not(:last-child)
      margin-bottom: rem(35)

.order__detail
  display: flex
  border-bottom: 1px solid #d7d7d7
  align-items: center
  +r(480)
    flex-direction: column

.order__detail__name
  font-weight: lighter
  background-color: #e7e7e7
  width: rem(415)
  margin: 0
  display: flex
  padding: rem(15) rem(20)
  font-size: rem(18)
  +r(768)
    min-width: 50%
    width: 50%
  +r(480)
    width: 100%

.order__detail__data
  margin: 0 auto
  display: flex
  +r(768)
    text-align: center
  +r(480)
    padding: rem(15) rem(20)


.order__detail__action
  margin: rem(10) auto
  display: flex
  width: rem(130)
  height: rem(30)
  background-color: #dcdbdb
  align-items: center
  justify-content: center
  font-size: rem(14)
  line-height: rem(14)

.order__detail__action_recieved
  background-color: #1e1e1e
  color: #fff



