.page-payment-method
  .sidebar__logo-wrapper
    display: block
  .header-section
    display: flex
.payment-options__wrap
  min-height: calc(100vh - 110px)
  margin: rem(55) rem(65)
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background-color: #f5f5f5
  +r(991)
    padding-top: rem(55)
    padding-bottom: rem(155)
    min-height: auto
    margin: 0
    margin-top: rem(50)
    margin-bottom: rem(5)


.payment-options__title
  margin: 0
  margin-bottom: rem(50)
  font-family: Lato
  font-size: rem(28)
  font-weight: 300
  line-height: 1
  color: #1e1e1e
  +r(480)
    font-size: rem(24)

.payment-options__select-wrap
  text-align: center

.payment-options__select
  padding: 11px 15px
  max-width: rem(259)
  width: 100%
  color: #1e1e1e
  font-family: Lato
  font-size: rem(13)
  font-weight: 400
  line-height: 4.6
  background-color: white
  border: 1px solid #1e1e1e
