.page-profile
  .sidebar__logo-wrapper
    display: block
  .section.header-section
    margin-bottom: 0

.page-content
  display: block

p, h1, h2, h3, h4, h5, h6, a
  margin: 0

.section.header-section
  display: flex
  max-width: none
  margin-bottom: rem(100)
  width: 100%
//align-items: flex-start

.sidebar
  background-color: #fff

.section_options
  padding-top: rem(150)
  width: 100%
  +r(700)
    padding-top: rem(85)



.options__header
  font-size: rem(28)
  text-align: center
  margin-bottom: rem(60)
  font-family: 'Playfair Display', serif
  +r(480)
    font-size: rem(20)

.options
  max-width: rem(1126)
  width: 100%
  display: flex
  flex-wrap: wrap
  margin-bottom: rem(85)
  margin-left: auto
  margin-right: auto
  +r(480)
    margin-bottom: rem(55)

.option
  padding: rem(40) rem(25)
  width: 32.7%
  margin-left: 0.95%
  margin-bottom: 0.95%
  display: flex
  flex-direction: column
  align-items: center
  border: 1px solid transparent
  transition: border 0.4s
  position: relative
  &:nth-child(3n+1)
    margin-left: 0
  &:hover
    border: 1px solid #1e1e1e
  +r(700)
    width: 100%
    margin-left: 0
  +r(480)
    padding: rem(32) rem(25)

.option__image
  margin-bottom: rem(20)

.option__title
  margin-bottom: rem(20)
  color: #1e1e1e
  text-align: center

.option__text
  text-align: center
  font-weight: lighter
  color: #616161
  font-size: rem(16)
  line-height: rem(25)

.option__link
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.collection__header
  padding: rem(33) 0
  width: 100%
  text-align: center
  font-size: rem(28)
  font-weight: lighter
  background-color: #f5f5f5
  margin-bottom: rem(40)
  +r(480)
    padding: rem(35) rem(50)
    font-size: rem(20)
    font-weight: 300
    line-height: 1.5

.collection__description
  color: #797979
  font-size: rem(14)
  text-align: center
  margin-bottom: rem(65)
  +r(480)
    padding: 0 rem(30)
    line-height: 1.6
    margin-bottom: rem(35)

.collection__items
  display: flex
  +r(480)
    padding: 0 rem(15)
    flex-wrap: wrap

.collection__item
  border: 1px #d4d4d4 solid
  padding: rem(15)
  width: 29.4%
  +r(480)
    width: 100%
    margin-left: 0
    &:last-child
      margin-bottom: rem(50)
  transition: 0.2s
  margin-left: 5.9%
  margin-bottom: 5.9%
  &:nth-child(3n+1)
    margin-left: 0
  &:hover
    border-color: #1e1e1e



.collection__item__image
  padding: rem(20)
  margin-bottom: rem(10)
  width: 100%

.collection__item__data
  display: flex
  justify-content: space-between
  padding: rem(15) 0
  border-bottom: 1px solid #222222
  &:last-child
    border-bottom: none
    padding-top: rem(25)
    padding-bottom: 0

.collection__item__data__name
  text-transform: uppercase
  font-size: rem(14)

.collection__item__data__link
  border: 1px solid transparent
  background-color: #1e1e1e
  color: #fff
  width: 45.2%
  transition: 0.4s
  padding: rem(15) 0
  text-align: center
  font-size: rem(11)
  text-transform: uppercase
  font-weight: 200
  &:hover
    border: 1px solid #1e1e1e
    color: #1e1e1e
    background-color: #fff
  &:last-child
    width: 52.2%
    background-color: #a5a5a5
    &:hover
      border: 1px solid #a5a5a5
      background-color: #fff
      color: #a5a5a5

.collection__item__data__chosen
  font-size: rem(12)

.collection__complete
  text-align: center
  position: relative
  margin-bottom: rem(155)
  &:after
    content: url('../img/profile/line.png')
    position: absolute
    top: rem(35)
    left: 50%
    margin-left: -1px
  +r(480)
  margin-bottom: rem(110)

.sizes
  display: flex
  +r(480)
    padding: 0 rem(15)
    flex-wrap: wrap

.size
  border: 1px #d4d4d4 solid
  padding: rem(15)
  width: 29.4%
  +r(480)
    width: 100%
    margin-left: 0
  transition: 0.2s
  margin-left: 5.9%
  margin-bottom: 5.9%
  display: flex
  flex-direction: column
  align-items: center
  &:nth-child(3n+1)
    margin-left: 0
  &:hover
    border-color: #1e1e1e

.size__image
  width: 60%
  margin: 0 auto
  margin-bottom: rem(30)

.size__name
  background-color: #d3d3d3
  font-size: rem(14)
  padding: rem(15) 0
  width: 100%
  text-align: center
  margin-bottom: 1px

.size__date
  width: 100%
  display: flex
  align-items: center
  background-color: #e1e1e1
  margin-bottom: rem(25)

.size__date__title
  padding: rem(14)
  width: 50%
  text-align: center
  font-size: rem(14)
  font-weight: 200

.size__date__when
  width: 50%
  background-color: #fff
  padding: rem(13)
  margin-right: 1px
  text-align: center
  font-size: rem(14)
  font-weight: 200

.size__buttons
  margin-left: auto
  text-transform: uppercase
  display: flex

.size__button
  border: 1px solid #7d7d7d
  color: #fff
  background-color: #7d7d7d
  font-size: rem(11)
  transition: 0.4s
  padding: rem(10) rem(20)
  &:hover
    background-color: #666
    color: #fff
  &:last-child
    margin-left: rem(5)

.size__button--transparent
  color: #7a7a7a
  background-color: transparent
  transition: background-color .25s ease
  &:hover
    background-color: #bdbdbd
    border: 1px solid #bdbdbd


