.section
  display: flex
  max-width: $full-width
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(100)

.section.header-section
    justify-content: flex-end

.shirt-builder
  max-width: rem(1210)
  width: 100%
  flex: 1
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  border-bottom: 1px solid $grey

.result-t-shirt
  display: none
  +mymed(mscr)
    display: flex
    padding: rem(100) 3rem 3rem 3rem
    max-width: rem(550)
    align-items: flex-start

@import "./builder/menu"

.shirt-builder__form
  display: flex
  justify-content: flex-end
  padding: rem(10)
  flex: 1
  +r(992)
    justify-content: center
  +mymed(mscr)
    padding: 0

  .options
    width: 100%
    +mymed(mscr)
      width: auto
      flex: 1
      max-width: rem(560)
      border: 1px solid $grey
      box-shadow: -4px 0px 7px 0 rgba(189,189,189,.28)
      max-height: rem(760)
      overflow-y: auto
      padding-left: rem(35)
      padding-right: rem(35)


@import "./builder/header"

.option-body
  .category-bar
    background-color: #f1f1f1
    padding: 10px 15px
    text-transform: uppercase
    font-size: rem(12)
    font-weight: 700
    margin-bottom: 20px

  .option-type
    color: #808080
    padding-bottom: rem(10)
    margin-bottom: rem(10)
    border-bottom: 1px solid #e8e8e8

  .option-body__header
    font-size: rem(15)
    font-weight: 700
    letter-spacing: 0.7px
    line-height: 1
    margin-bottom: rem(15)
    margin-top: rem(25)

  .measure-types
    display: flex
    justify-content: flex-end
    margin-bottom: rem(10)

    .measure-type
      font-size: rem(14)
      color: #959393
      cursor: pointer
      &:not(first-child)
        margin-left: rem(9)
      &--active
        color: $black


  .color-type__types,
  .texture-type__types,
  .radio-buttons__list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap

  .radio-element
    label
      width: 100%
      height: 100%

  .fabric-element
    margin-bottom: rem(20)
    &:last-child
      margin-bottom: rem(75)
    +mymed(mscr)
      max-width: rem(220)

      &:nth-child(even)
        margin-left: rem(15)
      &:last-child
        margin-bottom: auto

    .radio-image__wrapper
      height: rem(135)
      padding: 0

  .front-element
    padding-top: rem(10)
    padding-bottom: rem(10)

    .front-element__name
      font-size: rem(13)
      font-weight: 700
      text-align: center

  .radio-image__wrapper
    cursor: pointer
    margin-bottom: rem(10)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overflow: hidden
    outline: 1px solid $grey
    padding: rem(15)

    .radio-element__image
      margin-top: rem(10)
      transition: all .3s ease-in-out

    &:after
      @include pseudo(block, absolute, "\f00c")
      width: 16px
      height: 16px
      right: 11px
      top: 11px
      color: #fff
      border-radius: 50%
      padding: 5px
      background-color: $highlight
      display: none
      font-family: 'Font Awesome 5 Free'
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased

  .fabric-element__image
    object-fit: cover

  .fabric-element
    &:hover
      .radio-element__image
        transform: scale(2)

  .fabric-element__name
    font-size: rem(12)
    color: #616161
    margin-top: 0
    margin-bottom: rem(10)
    line-height: 1

  .fabric-element__meta
    font-size: rem(12)
    color: #b8b8b8
    margin-top: 0
    margin-bottom: rem(10)
    line-height: 1

  /* Hide the browser's default radio button */
  .radio-element input
    position: absolute
    top: -9999px
    left: -9999px
    opacity: 0
    transform: scale(1)

  .radio-element input:checked + .radio-image__wrapper,
  .radio-element input:checked + .neck-size__element
    // outline: 1px solid $highlight
    box-shadow: 0px 0px 0px 2px $highlight
    position: relative
    // padding: rem()

    &:after
      display: block

  .neck-sizes
    background-color: #efefef
    padding: rem(30)
    display: flex
    justify-content: flex-start
    align-content: space-between

    .neck-size-element
      height: rem(62)
      width: 23%
      margin-left: 1%
      margin-right: 1%
      background-color: #fff
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: rem(30)
      border: 1px solid #c6c6c6;
    .neck-size__element
      line-height: 1
      height: 100%
      width: 100%

.button
  padding: rem(10) rem(18)
  text-transform: none
  transition: background-color .3s ease-in-out
  &:after
    display: none

  &.button-grey
    background-color: #eaeaea

    &:hover,
    &:active
      background-color: #dddddd

.size-option
  .option-body
    padding-top: rem(80)
    padding-bottom: rem(80)
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .size-option__buttons-divider
    position: relative
    line-height: 1
    &:before,
    &:after
      @include pseudo()
      height: 1px
      width: 22px
      background-color: #d1d1d1
      top: 50%
      transform: translateY(-50%)

    &:before
      left: -35px

    &:after
      right: -35px


  max-width: rem(470)
  margin-bottom: rem(20)

  input
    width: 100%
    padding: rem(13) rem(15)
    margin-bottom: rem(10)
    border: 1px solid #bebebe

  .builder-popup__submit
    width: 100%
    padding: rem(13) rem(15)
    margin-bottom: rem(10)
    background-color: #a3a3a3
    color: #fff
    text-transform: uppercase
    border: none
    transition: all .3s ease-in-out

    &:hover,
    &:active
      background-color: darken(#a3a3a3, 5%)
    &:disabled
      opacity: .6

@import "./builder/measurements-form"

.shirt-builder__container
  display: flex
  width: 100%
  justify-content: space-between


.process
  padding-top: rem(30)
  display: flex
  flex-direction: column
  align-items: center
  padding-left: rem(10)
  padding-right: rem(10)
  +mymed(mscr)
    padding-top: rem(120)
    padding-left: 0
    padding-right: 0
.process__title
  margin-bottom: rem(20)
  color: #1e1e1e
  font-size: rem(20)
.process__text
  text-align: center
  font-size: rem(14)
  color: #717070
  margin-bottom: rem(20)
  +mymed(mscr)
    margin-bottom: rem(70)
.process__list
  list-style-type: none
  display: flex
  justify-content: space-between
  text-align: center
  position: relative
  flex-direction: column
  padding: 0 rem(10)
  +mymed(mscr)
    flex-direction: row
    //padding: 0 rem(10) 0 rem(40)
    &:before, &:after
      content: ''
      width: 80%
      height: 0
      border-bottom: 1px dashed #efefef
      display: block
      position: absolute
      top: rem(39)
      left: calc(40px + 9%)
    &:before
      top: rem(38)
  .process__list__item
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: rem(50)
    +mymed(mscr)
      width: 18%
      margin-bottom: 0
  .list__item__header
    font-size: rem(16)
    line-height: rem(22)
    color: #1e1e1e
    margin-bottom: rem(15)
    +mymed(mscr)
      margin-bottom: rem(25)
  .list__item__text
    font-size: rem(14)
    color: #737373
    line-height: 1.6
.process__list__item__number
  width: rem(45)
  height: rem(45)
  background-color: #efefef
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  position: relative
  z-index: 2
  outline: 5px solid #fff

@import "./builder/mobile"
.builder-results
    padding: rem(20) rem(10)
    +mymed(mscr)
      padding: rem(40) rem(25)


.results__options
    list-style-type: none
    padding: 0
    margin: 0
    margin-bottom: rem(30)


.results__option
    display: flex
    justify-content: space-between
    padding-bottom: rem(17)
    padding-top: rem(18)
    border-bottom: 1px solid #222
    cursor: pointer


.option__tab
    text-transform: uppercase
    letter-spacing: 1.6px


.option__value
    font-size: rem(14)
    letter-spacing: 0.8px


.basket__stuff
    display: flex
    flex-direction: column
    +mymed(mscr)
      flex-direction: row
      justify-content: space-between
      align-items: center
    margin-bottom: 1rem


.basket__price
    font-size: rem(20)
    font-weight: 900
    margin-bottom: rem(20)
    +mymed(mscr)
      margin-bottom: 0


.basket__add
    padding: rem(18) rem(30)
    color: #fff
    text-transform: uppercase
    font-size: rem(12)
    line-height: 1
    border: none
    background-color: $cart-number // Was 1e1e1e
    letter-spacing: 1.1px
    transition: background-color 0.3s ease-in-out

    &:not(:disabled)
      &:hover,
      &:active
          background-color: #000000



.additional-info h3
    color: #4a4a4a


.info-wrapper
  display: flex
  justify-content: space-between

.discount-icon,
.currency-icon
    font-weight: bold
    display: inline-block
    margin-left: 5px
    text-align: center
    border: none
    text-decoration: none

.discount-icon
  width: 22px
  height: 22px
  background-color: #eee
  border-radius: 50%

.currency-icon
  color: #1e1e1e
  background-color: transparent
  padding-bottom: 0
  line-height: 1
  padding-bottom: 4px
  position: relative

  &:after
    content: ''
    display: block
    width: 100%
    height: 1px
    background-color: #d76264
    transition: all 0.3s ease-in-out
    bottom: -2px
    position: absolute
    left: 0
  &:hover
    &:after
      transform-origin: center
      transform: scale(0.4)




.category-bar .discount-icon
  background-color: #fff
.additional-info p
    color: #848484
    font-size: rem(14)
    font-weight: 200
    line-height: 1.6


