.page-shirt-details__header-wrap
  position: relative
  width: 100%
  display: flex
  justify-content: flex-end
  +r(991)
    margin-top: rem(50)
  .header-section__content
    max-width: rem(740)
    width: 100%
    position: absolute
    top: 50%
    left: 34%
    transform: translate(0, -15%)
    +r(1240)
      left: 50%
      max-width: 100%
      transform: translate(-50%, -50%)
    +r(480)
      top: 60%
    .header-section__header
      margin-bottom: rem(150)
      position: initial
      top: initial
      left: initial
      transform: none
      +r(1240)
        padding: 0 rem(20)
        margin-bottom: 10%
        text-align: center
      +r(768)
        font-size: rem(40)
      +r(480)
        text-align: left
    .header-section__text
      position: initial
      top: auto
      left: auto
      +r(1240)
        margin: 0 auto
      span
        &:last-child
          padding-left: rem(105)
          +r(991)
            padding-left: 0
      +r(991)
        padding: 0 rem(20)
      +r(768)
        text-align: center
        font-size: rem(22)
      +r(480)
        font-size: rem(13)
        line-height: 1.9
        text-align: left
  .header-section__cover
    +r(480)
      max-width: rem(240)
      width: 100%


.section
  display: flex
  max-width: rem(1190)
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(100)

.shirt-details
  list-style: none
  padding: 0
  flex-direction: column

.shirt-detail
  width: 100%
  display: flex
  justify-content: space-between
  margin-bottom: rem(100)
  +r(991)
    padding-left: rem(20)
    padding-right: rem(20)
    flex-direction: column
    //align-items: center
  +r(480)
  margin-bottom: rem(60)

  .detail-content
    max-width: rem(400)
    +r(1240)
      padding: 0 rem(20)
    +r(991)
      min-width: rem(675)
      padding: 0
      padding-bottom: rem(30)
      margin: 0 auto
    +r(480)
      min-width: 100%
  .detail-header
    font-size: rem(34)
    font-family: 'Playfair Display', serif
    margin-bottom: rem(70)
    margin-top: 0
    +r(991)
      margin-bottom: rem(30)
    +r(480)
      font-size: rem(30)
  .detail-text
    line-height: 1.5
  .details-photo-wrapper
    display: flex
    justify-content: center
    align-items: center;

