@import "../partials/quick-basket"

.sidebar
  box-shadow: 6px -4px 10px 0 rgba(189, 189, 189, 0.28)
  position: relative
  max-height: rem(830)
  //padding-bottom: 150px
  +rm(992)
    width: rem(90)

  .sidebar__user
    display: flex
    flex-direction: row
    align-items: center
    border-bottom: 1px solid #efefef
    font-size: rem(20)
    line-height: 1
    +r(992)
      padding: rem(20)
    +rm(992)
      flex-direction: column

    .user-link
      padding: rem(20) rem(30)
      +r(992)
        padding: rem(15) rem(15)
      cursor: pointer
    .user__cart-link
      position: relative
      display: flex
      justify-content: center
      align-content: center
      padding-left: rem(30)
      +r(992)
        //margin-right: rem(20)
      &>i
        +r(992)
          display: none

      &:before
        content: ''
        background-image: url('../img/bag.svg')
        background-repeat: no-repeat
        height: 22px
        width: 18px
        display: block
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        +rm(992)
          //display: none
    .user__profile-link
      margin-left: auto
      padding-right: rem(15)
      +rm(992)
        margin-left: 0
        padding-right: rem(15)
        padding-left: rem(15)
    .cart__items
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      left: 25px
      top: 15px
      height: 14px
      width: 14px
      font-size: rem(8)
      color: $white
      background-color: $cart-number
      +rm(992)
        left: 15px
        top: 15px


  .sidebar__logo-wrapper
    display: block
    padding: 17px 24px
    background-color: $black
    text-decoration: none
    color: #ffffff
    .sidebar__logo
      font-size: rem(13)
      letter-spacing: 2px
      margin: 0
      font-family: "Avenir Next LT Pro", sans-serif
      font-weight: 100
      +r(991)
        font-size: rem(24)
        letter-spacing: 4px
      +r(480)
       font-size: rem(13)
       letter-spacing: 2px

  .sidebar__logo-img
    max-width: rem(118)
    +r(480)
      max-width: rem(74)
  .menu-list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    +rm(992)
      flex-direction: column-reverse
      align-items: center
    .menu-list__item
      //position: relative
      display: block
      transition: background-color .5s ease-in-out
      border-bottom: 1px solid #ececec
      &.has-submenu
        +r(991)
          transition: border-color .25s ease
          border-top: 1px solid  transparent
        & > a
          position: relative
          transition: box-shadow .35s ease
          &::after
            position: absolute
            bottom: rem(15px)
            left: 50%
            transform: translateX(-50%)
            content: '\f106'
            font-family: 'Font Awesome 5 Free'
            text-rendering: auto
            -webkit-font-smoothing: antialiased
            transition: transform .3s ease
            +r(991)
              left: auto
              right: rem(20)
              top: 50%
              transform: translateY(-50%)
        &:hover .submenu
          +rm(992)
            display: flex
            justify-content: center
            align-items: center

        &:hover
          +rm(992)
            & > a
              position: relative
              &::after
                transform: translateX(-50%) rotate(-180deg)
        &.active
          +r(991)
            border-top-color:  #c18182
          & > a
            position: relative
            +r(991)
            box-shadow: 2.5px 4.3px 7px rgba(189, 189, 189, 0.28)
            &::after
              transform: translateX(-50%) rotate(-180deg)
              +r(991)
                transform: translateY(-50%) rotate(-180deg)

      &--current
        //position: relative
      +rm(992)
        border-bottom: none
        padding: rem(30) 0
        &--current
          > a
            border-top: 4px solid $highlight
        &:hover
          .menu-list__item__link
            background-color: darken($white, 7%)
      .menu-list__item__link
        display: block
        width: 100%
        min-width: rem(91)
        height: 100%
        font-size: rem(14)
        text-transform: uppercase
        line-height: 1
        cursor: pointer
        white-space: nowrap
        padding: 0
        padding: rem(24) 0
        text-align: left
        padding-left: rem(15)
        +rm(992)
          text-align: center
          padding: rem(38) 0
          transform: rotate(-90.5deg)
          margin-right: rem(15)
  .submenu.menu-list
    position: relative
    //background-color: #f5f5f5
    //background-color: rgba(#f4f4f4, 0.87)
    min-width: 65px
    display: none
    z-index: 90
    .menu-list__item
      border-bottom: none
      &--current
        .menu-list__item__link
          border: none
          color: #c18182
      .menu-list__item__link
        background: none
        transition: color .25s ease
        &:hover
          color: #c18182


    .menu-list__item__link
      font-size: rem(12) !important
      font-weight: 400
      color: #535353
      +r(992)
        padding-left: rem(38)

    +rm(992)
      // padding-top: rem(120)!important
      // padding-bottom: rem(120)!important
      position: absolute
      top: 0
      bottom: 0
      left: 90px
      //transform: translateY(-50%)
      .menu-list__item
        border-bottom: 1px solid #ececec
      .menu-list__item__link
        font-size: rem(14)
  a
    -webkit-tap-highlight-color: transparent

.builder-popup--register,
.builder-popup--reset
  display: none


.submenu
  position: relative
  background-color: rgba(244, 244, 244, 0.87)
  // &::before
  //   content: ''
  //   position: absolute
  //   left: 0
  //   right: 0

  //   height: 1000%
  //   top: 0
    +r(992)
      height: auto

.header-section
  overflow: hidden


+rm(992)
  .home .sidebar__logo-wrapper,
  .page-about .sidebar__logo-wrapper
      display: none
