.play-button
  border: 0
  background-color: $highlight
  height: rem(80)
  width: rem(80)
  border-radius: 50%
  color: $white
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 2
  cursor: pointer
  transition: height .3s ease-in-out, width .3s ease-in-out, font-size .3s ease-in-out

  &:hover
    height: rem(100)
    width: rem(100)
    font-size: rem(20)


.youtube
  width: 100%

  margin-bottom: 30px
  position: relative
  padding-top: 56.25%
  overflow: hidden
  cursor: pointer
  background-color: #000
  +r(480)
    margin-bottom: rem(50)

.youtube img
	width: 100%
	top: -16.82%
	left: 0
	opacity: 0.25


.youtube img,
.youtube .play-button
	cursor: pointer

.youtube img,
.youtube iframe,
	position: absolute


.youtube iframe
	height: 100%
	width: 100%
	top: 0
	left: 0
