.page-about
  .header-section
    +r(480)
      margin-bottom: rem(50)
.about__header-wrap
  display: flex
  justify-content: flex-end
  position: relative
  width: 100%
  +r(991)
    margin-top: rem(50)
    .header-section__header
      font-size: rem(50)
      line-height: 1.45
      white-space: nowrap
    +r(480)
      font-size: rem(40)
      line-height: 1.45
      text-align: center


.section
  display: flex
  max-width: rem(1190)
  margin-left: auto
  margin-right: auto
  margin-bottom: rem(100)

.about-section
  flex-direction: column

  .wwh
    display: flex
    margin-bottom: rem(40)
    position: relative
    justify-content: flex-end
    +r(480)
      margin-bottom: 0

    .section__content
      position: absolute
      width: 100%
      top: 50%
      transform: translateY(-50%)
      max-width: rem(400)
      background-color: #fff
      left: 0
      padding: rem(60) rem(50) rem(50)
      margin-left: rem(100)
      border: 4px solid transparent
      box-shadow: 0 0 0 1px rgba(255,255,255,1)
      background-clip: padding-box
      transition: left .25s linear
      +r(866)
        left: 50%
        transform: translate(-50%,-50%)
        margin-left: 0
        //margin: 0 rem(20)
        z-index: 100

    .section__header
      text-transform: uppercase
      font-weight: 500
      font-size: rem(34)
      margin-bottom: rem(60)
      letter-spacing: 3.3px

    .section__cover
      +r(866)
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%)
      +r(680)
        clip-path: none

    .section__text
      font-size: 1rem
      font-weight: 200
      line-height: 1.6
  .who
    width: 100%
    flex-direction: row-reverse

    .section__content
      left: inherit
      right: 0
      margin-left: 0
      margin-right: rem(100)
      +r(866)
        margin-right: 0
        right: auto
        left: 50%
        transform: translate(-50%,-50%)
    .section__cover
      +r(866)
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%)
      +r(680)
        clip-path: none
  .section__header
    font-family: 'Playfair Display', serif
    margin: 0
    line-height: 1

.logo-section
  padding: 0 rem(20)
  .welcome
    max-width: rem(320)
    width: 100%
    text-align: center
    margin: 0 auto
    border: 1px solid #787878
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 3px #787878

    padding: rem(40) rem(0)
    text-align: center


  .welcome__text
    font-family: 'Playfair Display', serif
    font-size: rem(40)
    margin-top: 0

  .welcome__title
    text-transform: uppercase
    text-align: center
    font-size: rem(90)
    font-family: "Avenir Next LT Pro", sans-serif
    margin: 0
    +r(480)
      font-size: rem(80)

.testimonials-section
  display: flex
  justify-content: space-between
  +r(1250)
    padding: 0 rem(20)
  +r(670)
    flex-direction: column
    align-items: center
  .testimonial
    max-width: rem(510)
    position: relative
    +r(670)
      padding-top: rem(60)
    &:not(:last-child)
      margin-right: rem(20)
      +r(670)
        margin-right: rem(0)
        margin-bottom: rem(50)

    &:before
      @include pseudo()
      content: '“'
      top: -40px
      left: -20px
      font-size: rem(375)
      font-family: 'Playfair Display', serif
      color: #f5f5f5
      line-height: 0.5
      z-index: -1
      +r(670)
        font-size: rem(317)
        top: 22px

  .testimonial__quote
    font-family: 'Playfair Display', serif
    font-style: italic
    margin: 0
    font-size: rem(18)
    line-height: 2
    color: #1e1e1e
    margin-bottom: rem(40)
    +r(670)
      margin-bottom: rem(15)

  hr
    background-color: #fff
    border-bottom: 1px solid #1e1e1e
    border-top: 1px solid #1e1e1e
    height: 3px
    margin-bottom: rem(40)
    +r(670)
      margin-top: 0
      margin-bottom: rem(20)

  .testimonial__author
    display: flex

  .testimonial__photo-wrapper
    max-width: rem(64)
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 3px #d2d2d2

    img
      height: 100%
      width: 100%

  .author__name,
  .author__position
    margin-top: 0

  .author__name
    margin-bottom: rem(15)
    color: #353535
    text-transform: uppercase

  .author__position
    color: #589e4d
    font-size: rem(14)
    margin-bottom: 0

  .testimonial__info
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-left: rem(20)
