.page-content

.section
  display: flex
  max-width: rem(1190)
  margin-bottom: rem(100)

.sidebar
  background-color: #fff
  //overflow: hidden

.basket
  padding: rem(70)
  background-color: #fff
  width: 100%
  +r(1280)
    padding: rem(45)
  +r(1280)
    padding: rem(20)

.basket__item
  display: flex
  padding: rem(35)
  border: 1px solid #1e1e1e
  border-top: none
  position: relative
  +r(767)
    //flex-direction: column-reverse
    flex-wrap: wrap
  +r(480)
    padding: 1rem
  &:last-child
    margin-bottom: rem(35)

.basket__item__close
  width: rem(30)
  height: rem(30)
  display: flex
  margin-left: auto
  border: 1px solid #e1e1e1
  transition: 0.3s
  position: relative
  &:before
    content: '+'
    display: flex
    transform: rotate(45deg)
    font-size: rem(30)
    line-height: rem(30)
    height: rem(30)
    width: rem(30)
    font-weight: 200
    top: -2px
    left: 0
    position: absolute
    align-items: center
    justify-content: center
    transition: 0.3s
  &:hover
    cursor: pointer
    background-color: #e1e1e1
    &:before
      cursor: pointer
      color: #fff

.basket__item__image
  max-width: rem(200)
  +r(480)
    min-width: 100%

.basket__item__image__img
  width: 100%

.basket__item__data
  display: flex
  flex-direction: column
  margin-left: 10%
  min-width: rem(165)
  +r(480)
    margin-left: 0

.basket__item__data__title
  font-size: rem(16)
  padding: rem(10) 0
  border-bottom: 1px solid #e1e1e1
  border-top: 1px solid #e1e1e1
  margin: 0
  font-weight: bold

.basket__item__data__list
  margin: 0
  padding: rem(15) 0
  border-bottom: 1px solid #e1e1e1

.basket__item__data__list__item
  list-style-type: none
  display: flex
  align-items: center
  margin-bottom: rem(8)
  font-size: rem(14)
  color: #898989
  &:before
    content: url('../img/tick.png')
    margin-right: rem(5)
    width: rem(13)
    height: rem(13)

.basket__item__data__resume
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  padding: rem(15) 0
  border-bottom: 1px solid #e1e1e1

.basket__item__data__resume__title
  width: 100%
  color: #747474
  font-size: rem(12)
  margin-top: 0
  margin-bottom: rem(5)

.basket__item__data__resume__size
  display: flex
  width: rem(100)
  height: rem(27)


.measure__input
  display: flex
  align-items: center
  background-color: #1e1e1e

.measurement-button
  height: rem(27)
  width: rem(33)
  line-height: 1
  color: #fff
  background-color: #1e1e1e
  border: none
  transition: background-color .3s ease-in-out

  &:hover,
  &:active
    cursor: pointer
    background-color: #c08081
    color: #fff

.measure__value
  width: rem(44)
  height: rem(25)
  border: none
  padding: rem(0) rem(10)
  font-size: rem(14)
  background-color: #fff
  text-align: center
  position: relative

.measure__value::-webkit-inner-spin-button,
.measure__value::-webkit-outer-spin-button
  -webkit-appearance: none !important
  margin: 0 !important
  -moz-appearance:textfield !important

.basket__item__data__resume__price
  font-size: rem(18)
  margin: 0
  font-weight: 200

.basket__total
  display: flex
  flex-direction: column
  padding-top: rem(25)

.basket__total__item
  border-bottom: 1px solid #e1e1e1
  padding: rem(15) 0
  display: flex
  justify-content: space-between

.basket__total__item
  .basket__total__name
    color: #838383
  .basket__total__amount
    color: #838383
  &:last-child
    border-bottom: 1px solid #1e1e1e
    margin-bottom: rem(30)
    .basket__total__name
      color: #1e1e1e
      font-weight: bold
    .basket__total__amount
      color: #1e1e1e
      font-weight: bold

.basket__total__name
  font-size: rem(19)
  font-weight: 200
  margin: 0

.basket__total__amount
  font-size: rem(18)
  margin: 0

.basket__cta
  display: flex
  align-items: center
  justify-content: center
  margin: 0

.button-black
  width: 100%
  padding-top: rem(16.5)
  padding-bottom: rem(16.5)
  font-weight: 200
  &:after
    right: rem(50)
    bottom: rem(16.5)

.basket__header
  display: flex
  height: rem(55)
  align-items: center
  background-color: #1e1e1e
  padding: 0 rem(35)
  justify-content: space-between

.basket__header__title
  text-transform: uppercase
  font-size: rem(15)
  color: #fff
  font-weight: lighter

.basket__header__title, .basket__item__column
  &:first-child
    width: 50%
    +r(767)
      display: flex
      justify-content: center
      width: 100%
  &:nth-child(2)
    width: 20%
  &:nth-child(3)
    width: 17%
  &:last-child
    width: 13%
  +r(767)
    &:nth-child(2)
      width: 45%
    &:nth-child(3)
      width: 45%
    &:last-child
      width: 10%
  +r(480)
    &:nth-child(2)
      width: 100%
      display: flex
      align-items: center
      margin-bottom: 1rem
    &:nth-child(3)
      width: 70%
    &:last-child
      width: 30%

.basket__header__title
  +r(767)
    display: none
    &:first-child
      display: flex
  +r(480)
    &:nth-child(2)
      display: none
  &:last-child
    text-align: right

.basket__item__column
  +r(480)
    flex-direction: column
    //align-items: center
  &:first-child
    display: flex
    +r(767)
      margin-bottom: rem(25)


.basket__accordion
  ul
    list-style: none
    padding: 0

  .inner
    padding-left: 1em
    overflow: hidden
    display: none

    &.show
      display: block
  li
    margin: .5em 0

    a.toggle
      width: 100%
      display: block
      background: #e1e1e1
      color: #1e1e1e
      padding: rem(20)
      transition: background .3s ease
      position: relative
      &:after
        width: rem(20)
        height: rem(1)
        content: ''
        display: block
        background: #1e1e1e
        position: absolute
        right: rem(20)
        top: 50%
        margin-top: rem(-1)
      &:before
        width: rem(20)
        height: rem(1)
        content: ''
        display: block
        background: #1e1e1e
        position: absolute
        right: rem(20)
        top: 50%
        margin-top: rem(-1)
        transform: rotate(90deg)
        transition: 0.3s
      &:hover
        background: #e2e2e2
        &:before
          transform: rotate(0deg)
      &.minus
        &:before
          transform: rotate(0deg)

.basket__bottom
  display: flex
  justify-content: space-between
  +r(767)
    flex-direction: column
    justify-content: center
    align-items: center

.basket__more
  width: 42.5%
  +r(767)
    width: 100%

.basket__total
  width: 42.5%
  +r(767)
    width: 100%

.basket__additional
  padding-top: rem(30)
  padding-bottom: rem(30)
  background-color: #e1e1e1
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: rem(30)

.basket__coupon__input
  background-color: #fff
  border: 1px $highlight solid
  outline: none
  box-shadow: none
  padding: rem(9)
  font-size: rem(13)
  width: rem(195)
  &::placeholder
    font-style: italic

.basket__coupon__submit
  color: #fff
  border: 1px $highlight solid
  background-color: $highlight
  font-size: rem(13)
  padding: rem(9) rem(15)
  width: rem(97)
  transition: 0.4s
  &:hover
    background-color: #fff
    color: $highlight

.basket__coupon__header
  color: #1e1e1e
  font-size: rem(14)
  margin-bottom: rem(17)
  margin-top: 0
  text-align: center
