.cite-section
  padding-top: rem(90)
  padding-bottom: rem(125)
  padding-left: rem(20)
  padding-right: rem(20)
  display: flex
  flex-direction: column
  align-items: center
  background-image: url(../img/home_cite.jpg)
  background-repeat: no-repeat
  background-size: cover
  color: $white
  //max-width: rem(1366)
  max-width: 100%
  +r(480)
    padding-top: rem(45)
    padding-bottom: rem(100)
    overflow: hidden

  .cite-author
    margin:
      top: 0
      bottom: rem(50)
    font-size: rem(13)
    text-transform: uppercase
    position: relative

    &:before,
    &:after
      @include pseudo()
      //box-sizing: border-box
      height: 2px
      width: rem(72)
      border-top: 1px solid $white
      border-bottom: 1px solid $white

    &:before
      left: rem(-90)
      top: 50%
      transform: translateY(-50%)

    &:after
      right: rem(-90)
      top: 50%
      transform: translateY(-50%)

  .cite-text
    margin: 0
    font-size: rem(26)
    line-height: 1.7
    font-style: italic
    font-family: 'Playfair Display', serif
    text-align: center
    max-width: rem(850)
    +r(480)
      font-size: rem(22)
      line-height: 2
