.page-shirt-details
  .header
    display: none
  .header-section
    margin-bottom: 0
.page-content
  display: flex

.section
  display: flex
  max-width: rem(1190)
  margin-bottom: rem(100)
  width: 100%

.form_info
  padding: 0 rem(20)
  padding-top: 65px
  margin: 0 auto
  max-width: rem(1116)
  width: 100%
  +r(991)
    padding-top: rem(50)

.form__section
  &:not(:last-child)
    margin-bottom: rem(135)
    +r(991)
      &:not()
      margin-bottom: rem(85)

.form__section__header
  font-size: rem(24)
  font-weight: 200
  padding-bottom: rem(10)
  border-bottom: 1px solid #1e1e1e
  +r(480)
    font-size: rem(18)
    font-weight: 300

.form__inputs
  margin-left: -2.42%
  max-width: rem(950)
  display: flex
  flex-wrap: wrap
  //transform: translate(-2.42%)
  +r(480)
    margin-left: 0
    justify-content: space-between

.form__input__block
  display: flex
  flex-direction: column
  margin-left: 2.42%
  margin-bottom: 2.9%
  position: relative
  +r(480)
    margin-left: 0
    margin-bottom: rem(19)
  &:before
    font-family: Font Awesome\ 5 Free
    position: absolute
    bottom: 0
    left: rem(15)
    font-size: rem(16)
    line-height: rem(16)
    margin-bottom: rem(15)

.form__label
  color: #939393
  font-size: rem(16)
  margin-bottom: rem(10)
  +r(480)
    font-size: rem(14)
    font-weight: 700

.form__input
  border: 1px solid #1e1e1e
  color: #1e1e1e
  padding: rem(12)
  padding-left: rem(43)
  font-size: rem(16)
  line-height: rem(16)
  &::placeholder
    color: #1e1e1e

.form__input__block_3
  width: 30.9%
  +r(991)
    width: auto
    flex: 1

.form__input__block_6
  width: 47.58%

.form__input__block_9
  width: 64.3%
  +r(991)
    width: 100%

.form__input__block_12
  width: 100%

.form__input_textarea
  height: rem(240)
  resize: none
  font-size: rem(16)
  line-height: rem(24)

.form__input__block_profile
  &:before
    content: "\f007"

.form__input__block_pin
  &:before
    content: "\f3c5"

.form__input__block_mail
  &:before
    content: "\f0e0"

.form__input__block_phone
  &:before
    content: "\f095"

.form__input__block_globe
  &:before
    content: "\f0ac"

.form__input__block_office
  &:before
    content: "\f1ad"

.form__input__block_delivery
  &:before
    content: "\f0d1"
    bottom: auto
    top: rem(45)

.form__mobile-hide
  display: flex
  flex-wrap: wrap
  +r(480)
    display: none
