.quick-basket-wrap
  position: absolute
  top: 0
  left: 90px
  opacity: 0
  z-index: -10
  transition: opacity .25s ease
  +r(991)
    padding-top: rem(180)
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    justify-content: center
    align-items: flex-start
    background-color: rgba(#707070, .5)

  &.active
    z-index: 100
    opacity: 1

  .quick-basket-inner
    max-height: 70vh
    overflow: auto
    max-width: rem(410)
    background-color: #f5f5f5
    border: 1px solid #dadada

  .quick-basket
    margin: rem(17)
    border: 1px solid #e1e1e1
    background-color: #fff
    +mobmed(mscr)
      margin: rem(15)
  //  margin-left: auto
  //  margin-right: auto

  .quick-basket__item
    display: flex
    justify-content: space-between
    padding: rem(30) rem(10)
    max-width: rem(410)
    border-bottom: 1px solid #e1e1e1
    position: relative
    +mobmed(mscr)
      padding-top: rem(50)
    // +r(480)
    //   padding-right: 0

  .quick-basket__item__close
    position: absolute
    right: rem(10)
    top: rem(10)
    width: rem(30)
    height: rem(30)
    display: flex
    align-items: center
    justify-content: center
    background: none
    border: 0
    transition: all .3s ease-in-out
    &:before
      content: '\f2ed'
      font-family: "Font Awesome 5 Free"
      color: #1e1e1e
      display: flex
      font-size: rem(16)
      line-height: rem(30)
      height: rem(30)
      width: rem(30)
      font-weight: 200
      position: absolute
      align-items: center
      justify-content: center
      transition: all .3s ease-in-out
    &:hover
      cursor: pointer
      &:before
        cursor: pointer
        color: $highlight

  .quick-basket__item__image
    width: 40%

  .quick-basket__item__image__img
    width: 100%

  .quick-basket__item__data
    width: 50%
    +r(480)
      width: 55%

  .quick-basket__item__data__title
    font-size: rem(20)
    padding-bottom: rem(10)
    border-bottom: 1px solid #e1e1e1
    margin: 0

  .quick-basket__item__data__list
    margin: 0
    padding: rem(15) 0
    border-bottom: 1px solid #e1e1e1

  .quick-basket__item__data__list__item
    list-style-type: none
    display: flex
    align-items: center
    margin-bottom: rem(8)
    +r(480)
      font-size: rem(14)
      margin-bottom: rem(5)
    &:before
      content: url('../img/tick.png')
      margin-right: rem(5)
      width: rem(13)
      height: rem(13)

  .quick-basket__item__data__resume
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    padding: rem(15) 0
    border-bottom: 1px solid #e1e1e1
    +mobmed(mscr)
      //flex-direction: column
      align-items: flex-start

  .quick-basket__item__data__resume__title
    width: 100%
    color: #747474
    font-size: rem(12)
    margin-top: 0
    margin-bottom: rem(5)
    +mobmed(mscr)
      margin-bottom: rem(10)

  .quick-basket__item__data__resume__size
    display: flex
    width: rem(90)
    height: rem(25)
    +mobmed(mscr)
      margin-bottom: rem(15)

  .quick-basket__item__data__resume__price
    font-size: rem(15)
    +r(480)
      padding-right: rem(15)

  .quick-basket__total
    padding: rem(15) rem(30)
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #e1e1e1

  .quick-basket__total__name
    font-size: rem(19)
    font-weight: 200
    margin: 0

  .quick-basket__total__amount
    font-size: rem(18)
    font-weight: bold
    margin: 0

  .quick-basket__cta
    padding: rem(25)
    display: flex
    align-items: center
    justify-content: center
    margin: 0

  .button
    &.button-black:after
      background-image: url(../img/arrow.png)
    &:after
      content: ""
      display: block
      position: absolute
      width: 47px
      height: 13px
      right: 40px
      bottom: 25px
      transition: right .5s ease-in-out

  .button-black
    width: 100%
    padding-top: rem(16.5)
    padding-bottom: rem(16.5)
    font-weight: 200
    &:after
      right: rem(95)
      bottom: rem(16.5)
    +mobmed(mscr)
      width: rem(260)
      &:after
        right: rem(50)

  .section.header-section
    +mobmed(mscr)
      width: 100%

.quick-basket-wrap
  .measure__input
    display: flex
    align-items: center
    background-color: #e1e1e1

  .measurement-button
    height: rem(25)
    width: rem(25)
    line-height: 1
    color: #7c7c7c
    background-color: #e1e1e1
    border: none
    transition: background-color .3s ease-in-out

    &:hover,
    &:active
      cursor: pointer
      background-color: $highlight
      color: #fff
    &:disabled:hover
      background-color: #e1e1e1
      color: #7c7c7c

.quick-basket-wrap
  .measure__value
    width: rem(40)
    height: rem(23)
    border: none
    padding: rem(0) rem(10)
    font-size: rem(14)
    background-color: #fff
    text-align: center
    position: relative
    &:disabled
      background-color: #e1e1e1
      color: #7c7c7c

  .measure__value::-webkit-inner-spin-button,
  .measure__value::-webkit-outer-spin-button
    -webkit-appearance: none !important
    margin: 0 !important
    -moz-appearance: textfield !important
